### Preprocesamiento Data Mussel

In [1]:
import os
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import re
import pyexcel as p

# 2021

In [2]:
# Setear directorios.
current = os.chdir('/Users/erossel/Dropbox/Salmon Derivates/Datamussel/Data mensual y semanal/')
prices = '/Users/erossel/Dropbox/Salmon Derivates/Datamussel/Data mensual y semanal/Indice Precios DataMussel/'
year = 2021
weeks = os.listdir('/Users/erossel/Dropbox/Salmon Derivates/Datamussel/Data mensual y semanal/Indice Precios DataMussel/'+str(year))

### CAMANCHACA

In [3]:
#Camanchaca
camanchaca = pd.DataFrame()

for w in weeks:
    try:
        os.chdir(prices+str(year)+'/'+str(w))
    except:
        print('Error al ingresar a', w)
        continue
    w_files = os.listdir(prices+str(year)+'/'+str(w)+'/')
    for file in w_files:
        if 'camanchaca' in file.lower():
            print(file)
            if file[-4:] != '.lnk':
                # Casos XLS
                if file[-4:] in ['.xls','.slk'] :
                    print('skip')
                    #p.save_book_as(file_name=prices+str(year)+'/'+str(w)+'/'+file ,dest_file_name=prices+str(year)+'/'+str(w)+'/'+file[:-4]+'.xlsx')        
                    #file = prices+str(year)+'/'+str(w)+'/'+file[:-4]+'.xlsx'
                else: # Casos XLSX
                    try: 
                        #Leer hoja donde está la tabla
                        wb = load_workbook(filename = prices+str(year)+'/'+str(w)+'/'+file)
                        hoja = wb.sheetnames
                        sheet = wb[hoja[0]]

                        #Transformar hoja en un df
                        df = pd.DataFrame(sheet.values) 

                        #Limitar el df
                        df.reset_index(inplace = True, drop=True)

                        #Anexar
                        camanchaca = camanchaca.append(df)
                    except:
                        print('Error en', file)
                    

# Resetear indices

DM Camanchaca 2021_01.xlsx
DM Camanchaca 2021_11 (2).xlsx
DM Camanchaca 2021_11.xlsx
DM Camanchaca 2021_12.xlsx
DM Camanchaca 2021_14.xlsx
DM Camanchaca 2021_19.xlsx
DM Camanchaca 2021_20.xlsx
DM Camanchaca 2021_21.xlsx
DM Camanchaca 2021_22.xlsx
DM Camanchaca 2021_23.xlsx
DM Camanchaca 2021_24.xlsx
DM Camanchaca 2021_25.xlsx
DM Camanchaca 2021_26.xlsx
DM Camanchaca 2021_27.xlsx
DM Camanchaca 2021_28.xlsx
DM Camanchaca 2021_29.xlsx
DM Camanchaca 2021_03.xlsx
DM Camanchaca 2021_30.xlsx
DM Camanchaca 2021_31.xlsx
DM Camanchaca 2021_32.xlsx
DM Camanchaca 2021_33.xlsx
DM Camanchaca 2021_34.xlsx
DM Camanchaca 2021_35.xlsx
DM Camanchaca 2021_36.xlsx
DM Camanchaca 2021_37.xlsx
DM Camanchaca 2021_38.xlsx
DM Camanchaca 2021_40.xlsx
DM Camanchaca 2021_41.xlsx
DM Camanchaca 2021_42.xlsx
DM Camanchaca 2021_43.xlsx
DM Camanchaca 2021_44.xlsx
DM Camanchaca 2021_06.xlsx
DM Camanchaca 2021_09.xlsx

In [4]:
camanchaca.sample(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
76,None,2021-01-07,WHO,FOODSERV,Italia,60-80 U/KG,KG,USD,19200,1.9,None,None,None,None,None
240,None,2021-03-05,MEAT,GRANEL,España,500-UP U/KG,KG,USD,600,2.5,NaN,NaN,NaN,NaN,NaN
2,None,Calc# Fecha Real Salida de Mercancia,Forma,Atributo Tecnológico,Nombre País Destino,Calibre,UM Pedido,Moneda Precio,Suma de Cantidad Total,Promedio de P Neto,NaN,NaN,NaN,NaN,NaN
91,None,2021-04-26,WHO,RETAIL,United States,20-35 U/LB,KG,USD,14296.5,3.24135,NaN,NaN,NaN,NaN,NaN
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
70,None,2021-01-12,MEAT,RETAIL,Francia,300-500 U/KG,KG,USD,18060,3.45,None,None,None,None,None
11,None,None,2021-03-25,WHO,FOODSERV,Federación Rusa,60-80 U/KG,KG,USD,16595,1.9,=K12,NaN,NaN,NaN
48,None,2021-02-17,WHO,FOODSERV,México,20-35 U/LB,KG,USD,19200,2,=J49,NaN,NaN,NaN,NaN
245,None,None,2021-01-06,WHO,RETAIL,United States,20-35 U/LB,LB,USD,30281.8,3.27188,NaN,NaN,NaN,NaN
274,None,2021-02-24,MEAT,GRANEL,Federación Rusa,200-300 U/KG,KG,USD,12000,3.25,NaN,NaN,NaN,NaN,NaN

In [5]:
# Corregir problemas de lectura
camanchaca[camanchaca[1].isnull()] = camanchaca[camanchaca[1].isnull()].shift(-1, axis=1)
camanchaca[camanchaca[1].apply(lambda x: str(x).find('w') != -1)] = camanchaca[camanchaca[1].apply(lambda x: str(x).find('w') != -1)].shift(-1, axis=1)

In [6]:
# Nombrar columnas
camanchaca.drop([0,10,11,12,13,14], axis=1, inplace=True)
camanchaca.columns = ['FECHA','PRODUCTO','EMPAQUE','PAIS','CALIBRE','UNIDAD PESO','MONEDA','CANTIDAD','PRECIO CFR']
camanchaca.dropna(inplace=True, axis=0)

In [7]:
camanchaca.sample(20)

,FECHA,PRODUCTO,EMPAQUE,PAIS,CALIBRE,UNIDAD PESO,MONEDA,CANTIDAD,PRECIO CFR
235,2021-03-08,MEAT,GRANEL,Federación Rusa,500-UP U/KG,KG,USD,24000,2.75
69,2021-03-05,MEAT,GRANEL,Macedonia,200-300 U/KG,KG,USD,8000,3.1
33,2021-05-14,MEAT,GRANEL,Federación Rusa,100-200 U/KG,KG,USD,24000,3.2
35,2021-03-31,WHO,FOODSERV,Federación Rusa,40-60 U/KG,KG,USD,39220,2
307,2021-02-17,WHO,FOODSERV,México,20-35 U/LB,KG,USD,19200,2
11,2021-08-18,MEAT,GRANEL,Chile,100-200 U/KG,KG,CLP,2000,2100
88,2021-05-05,WHO,RETAIL,United States,20-35 U/LB,KG,USD,33252.8,3.28
125,2021-03-03,MEAT,GRANEL,Dinamarca,200-300 U/KG,KG,GBP,4000,2.54
111,2021-02-12,MEAT,GRANEL,Francia,200-300 U/KG,KG,USD,1130,2.6
39,2021-05-12,WHO,FOODSERV,Costa Rica,20-35 U/LB,KG,USD,5000,2
56,2021-03-09,MEAT,GRANEL,Ucrania,200-300 U/KG,KG,USD,24000,2.9
70,2021-03-05,MEAT,GRANEL,Macedonia,300-500 U/KG,KG,USD,2000,3
63,2021-03-04,MEAT,RETAIL,United States,200-300 U/KG,LB,USD,3637.07,3.969
205,2021-03-08,MEAT,GRANEL,Federación Rusa,500-UP U/KG,KG,USD,24000,2.75
156,2021-02-16,MEAT,GRANEL,Chile,0,KG,CLP,20000,1100
191,2021-02-01,WHO,FOODSERV,Federación Rusa,40-60 U/KG,KG,USD,11000,2.05
128,2021-01-06,WHO,RETAIL,United States,20-35 U/LB,LB,USD,30281.8,1.48385
234,2021-03-01,WHO,FOODSERV,Hong Kong,18-27 U/LB,KG,USD,14010.2,2.3
156,2021-04-14,WHO,RETAIL,United States,20-35 U/LB,KG,USD,14941.1,3.31
255,2021-02-17,WHO,RETAIL,United States,20-35 U/LB,KG,USD,33334.2,3.24135

In [8]:
camanchaca.loc[camanchaca.FECHA == '2021-07-01']

,FECHA,PRODUCTO,EMPAQUE,PAIS,CALIBRE,UNIDAD PESO,MONEDA,CANTIDAD,PRECIO CFR
6,2021-07-01,MEAT,GRANEL,Dinamarca,200-300 U/KG,KG,GBP,3000,2.54
7,2021-07-01,MEAT,GRANEL,Dinamarca,300-500 U/KG,KG,GBP,2000,2.41
8,2021-07-01,MEAT,RETAIL,Dinamarca,100-200 U/KG,KG,GBP,13140,2.78
9,2021-07-01,WHO,FOODSERV,Japon,50-70 U/KG,KG,USD,15950,2.4
10,2021-07-01,WHO,RETAIL,Japon,20-35 U/LB,KG,USD,15518.2,3.22
11,2021-07-01,WHO,RETAIL,United States,20-35 U/LB,KG,USD,15844.6,3.3075
12,2021-07-01,WHO,RETAIL,United States,20-35 U/LB,KG,USD,15790.5,2.4255

In [9]:
# Transformaciones
camanchaca.drop(labels=list(camanchaca[camanchaca.FECHA.isnull()].index), axis=0, inplace=True)
camanchaca.FECHA = camanchaca.FECHA.apply(lambda f: pd.to_datetime(f,errors='coerce'))
camanchaca.CANTIDAD = camanchaca.CANTIDAD.apply(lambda c: pd.to_numeric(c,errors='coerce'))
camanchaca['PRECIO CFR'] = camanchaca['PRECIO CFR'].apply(lambda p: pd.to_numeric(p,errors='coerce'))
camanchaca.CALIBRE = camanchaca.CALIBRE.apply(lambda x: x if pd.isnull(x) else x.split(" ")[0])
camanchaca.PAIS = camanchaca.PAIS.apply(str.capitalize)
camanchaca.reset_index(drop = True, inplace=True)

In [10]:
camanchaca.drop(camanchaca[camanchaca.FECHA.isna()].index, axis=0, inplace=True)

In [11]:
# Eliminar duplicados
camanchaca.drop_duplicates(inplace=True)
# Creación de campos
camanchaca['EMPRESA'] = 'Camanchaca'
camanchaca['SEMANA'] = camanchaca.FECHA.apply(lambda d: d.isocalendar()[1])

In [12]:
# Chequeo
camanchaca.info()
camanchaca.sample(20)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 924 entries, 1 to 2480
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        924 non-null    datetime64[ns]
 1   PRODUCTO     924 non-null    object
 2   EMPAQUE      924 non-null    object
 3   PAIS         924 non-null    object
 4   CALIBRE      924 non-null    object
 5   UNIDAD PESO  924 non-null    object
 6   MONEDA       924 non-null    object
 7   CANTIDAD     924 non-null    float64
 8   PRECIO CFR   924 non-null    float64
 9   EMPRESA      924 non-null    object
 10  SEMANA       924 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 86.6+ KB

,FECHA,PRODUCTO,EMPAQUE,PAIS,CALIBRE,UNIDAD PESO,MONEDA,CANTIDAD,PRECIO CFR,EMPRESA,SEMANA
1032,2021-03-06,WHO,RETAIL,United states,20-35,KG,USD,14301.00,3.241350,Camanchaca,9
2106,2021-07-15,WHO,RETAIL,Japon,20-35,KG,USD,15583.59,3.220000,Camanchaca,28
2348,2021-10-19,WHO,FOODSERV,United states,24-32,KG,USD,18669.00,2.072700,Camanchaca,42
2001,2021-06-12,MEAT,GRANEL,Corea del sur,200-300,KG,USD,9020.00,3.050000,Camanchaca,23
2264,2021-08-18,MEAT,GRANEL,Chile,100-200,KG,CLP,2000.00,2100.000000,Camanchaca,33
2061,2021-06-22,MEAT,RETAIL,United states,200-300,KG,USD,8723.04,6.989850,Camanchaca,25
2026,2021-06-07,WHO,FOODSERV,United states,20-35,KG,USD,17978.40,2.205000,Camanchaca,23
596,2021-04-01,WHO,FOODSERV,Federación rusa,40-60,KG,USD,2850.00,2.100000,Camanchaca,13
865,2021-05-01,WHO,RETAIL,Japon,20-35,KG,USD,13449.15,3.220000,Camanchaca,17
101,2021-02-26,WHO,RETAIL,United states,20-35,LB,USD,15980.80,3.307500,Camanchaca,8
923,2021-04-15,WHO,RETAIL,Alemania,20-35,KG,USD,15727.50,2.650000,Camanchaca,15
2293,2021-09-01,MEAT,GRANEL,Reino unido,300-500,KG,USD,23920.00,3.130000,Camanchaca,35
36,2021-03-17,MEAT,GRANEL,Letonia,300-500,KG,USD,1860.00,3.050000,Camanchaca,11
2034,2021-06-17,WHO,FOODSERV,United states,24-32,KG,USD,18669.00,2.072700,Camanchaca,24
97,2021-02-26,MEAT,GRANEL,Reino unido,200-300,KG,USD,12000.00,3.170000,Camanchaca,8
410,2021-03-16,WHO,FOODSERV,Federación rusa,20-35,KG,USD,20437.10,2.028571,Camanchaca,11
1723,2021-04-14,WHO,RETAIL,United states,20-35,KG,USD,14941.14,3.310000,Camanchaca,15
2234,2021-08-12,WHO,FOODSERV,United states,20-35,KG,USD,17978.40,2.160900,Camanchaca,32
1728,2021-04-09,WHO,RETAIL,United states,20-35,KG,USD,15967.18,3.310000,Camanchaca,14
2205,2021-08-06,MEAT,RETAIL,Países bajos,100-200,KG,USD,21600.00,3.350000,Camanchaca,31

In [13]:
camanchaca.sort_values(by='FECHA', ascending=True, inplace=True)

In [14]:
camanchaca.drop(['UNIDAD PESO'], axis=1, inplace=True)

In [15]:
camanchaca = camanchaca.loc[camanchaca.MONEDA != 'CLP']

In [16]:
camanchaca.drop(['MONEDA'], axis=1, inplace=True)

In [17]:
camanchaca.sample(20)

,FECHA,PRODUCTO,EMPAQUE,PAIS,CALIBRE,CANTIDAD,PRECIO CFR,EMPRESA,SEMANA
126,2021-02-09,WHO,FOODSERV,United states,20-35,18669.00,2.006550,Camanchaca,6
1198,2021-05-19,MEAT,GRANEL,Países bajos,500-UP,500.00,2.800000,Camanchaca,20
404,2021-03-17,WHO,FOODSERV,United states,24-32,37338.00,0.940000,Camanchaca,11
2016,2021-06-09,MEAT,GRANEL,Federación rusa,300-500,24000.00,2.950000,Camanchaca,23
875,2021-04-29,WHO,FOODSERV,Federación rusa,60-80,19800.00,1.900000,Camanchaca,17
140,2021-02-04,MEAT,GRANEL,Reino unido,100-200,14000.00,3.350000,Camanchaca,5
2480,2021-03-04,WHO,FOODSERV,United states,20-35,31770.92,1.007692,Camanchaca,9
114,2021-02-17,WHO,RETAIL,Hong kong,20-35,6237.00,3.200000,Camanchaca,7
2007,2021-06-11,MEAT,GRANEL,Países bajos,300-500,24000.00,3.020000,Camanchaca,23
163,2021-01-21,MEAT,GRANEL,España,200-300,5000.00,3.150000,Camanchaca,3
1942,2021-01-15,MEAT,RETAIL,United states,200-300,9057.60,6.990000,Camanchaca,2
1048,2021-03-04,MEAT,RETAIL,United states,200-300,3637.07,3.969000,Camanchaca,9
1997,2021-06-01,WHO,FOODSERV,México,20-35,19200.00,2.000000,Camanchaca,22
377,2021-03-29,MEAT,RETAIL,Tailandia,200-300,21580.00,3.300000,Camanchaca,13
576,2021-04-09,WHO,RETAIL,United states,20-35,15967.18,3.307500,Camanchaca,14
600,2021-04-01,WHO,RETAIL,United states,20-35,15912.70,2.954700,Camanchaca,13
21,2020-12-28,WHO,FOODSERV,Hong kong,20-35,17978.40,2.250000,Camanchaca,53
922,2021-04-15,WHO,FOODSERV,United states,20-35,18669.00,2.006550,Camanchaca,15
106,2021-02-24,MEAT,GRANEL,Federación rusa,300-500,12000.00,3.050000,Camanchaca,8
483,2021-02-16,WHO,RETAIL,United states,20-35,14301.00,1.470000,Camanchaca,7

In [18]:
camanchaca.FECHA.unique()

array(['2020-12-28T00:00:00.000000000', '2020-12-29T00:00:00.000000000',
       '2020-12-30T00:00:00.000000000', '2020-12-31T00:00:00.000000000',
       '2021-01-04T00:00:00.000000000', '2021-01-05T00:00:00.000000000',
       '2021-01-06T00:00:00.000000000', '2021-01-07T00:00:00.000000000',
       '2021-01-08T00:00:00.000000000', '2021-01-11T00:00:00.000000000',
       '2021-01-12T00:00:00.000000000', '2021-01-13T00:00:00.000000000',
       '2021-01-14T00:00:00.000000000', '2021-01-15T00:00:00.000000000',
       '2021-01-18T00:00:00.000000000', '2021-01-19T00:00:00.000000000',
       '2021-01-20T00:00:00.000000000', '2021-01-21T00:00:00.000000000',
       '2021-01-23T00:00:00.000000000', '2021-01-25T00:00:00.000000000',
       '2021-01-26T00:00:00.000000000', '2021-01-28T00:00:00.000000000',
       '2021-01-29T00:00:00.000000000', '2021-02-01T00:00:00.000000000',
       '2021-02-02T00:00:00.000000000', '2021-02-03T00:00:00.000000000',
       '2021-02-04T00:00:00.000000000', '2021-02-05T00:00:00.000000000',
       '2021-02-08T00:00:00.000000000', '2021-02-09T00:00:00.000000000',
       '2021-02-10T00:00:00.000000000', '2021-02-12T00:00:00.000000000',
       '2021-02-15T00:00:00.000000000', '2021-02-16T00:00:00.000000000',
       '2021-02-17T00:00:00.000000000', '2021-02-18T00:00:00.000000000',
       '2021-02-19T00:00:00.000000000', '2021-02-24T00:00:00.000000000',
       '2021-02-25T00:00:00.000000000', '2021-02-26T00:00:00.000000000',
       '2021-03-01T00:00:00.000000000', '2021-03-02T00:00:00.000000000',
       '2021-03-03T00:00:00.000000000', '2021-03-04T00:00:00.000000000',
       '2021-03-05T00:00:00.000000000', '2021-03-06T00:00:00.000000000',
       '2021-03-08T00:00:00.000000000', '2021-03-09T00:00:00.000000000',
       '2021-03-10T00:00:00.000000000', '2021-03-11T00:00:00.000000000',
       '2021-03-12T00:00:00.000000000', '2021-03-15T00:00:00.000000000',
       '2021-03-16T00:00:00.000000000', '2021-03-17T00:00:00.000000000',
       '2021-03-18T00:00:00.000000000', '2021-03-19T00:00:00.000000000',
       '2021-03-22T00:00:00.000000000', '2021-03-23T00:00:00.000000000',
       '2021-03-24T00:00:00.000000000', '2021-03-25T00:00:00.000000000',
       '2021-03-26T00:00:00.000000000', '2021-03-29T00:00:00.000000000',
       '2021-03-30T00:00:00.000000000', '2021-03-31T00:00:00.000000000',
       '2021-04-01T00:00:00.000000000', '2021-04-05T00:00:00.000000000',
       '2021-04-06T00:00:00.000000000', '2021-04-07T00:00:00.000000000',
       '2021-04-08T00:00:00.000000000', '2021-04-09T00:00:00.000000000',
       '2021-04-12T00:00:00.000000000', '2021-04-13T00:00:00.000000000',
       '2021-04-14T00:00:00.000000000', '2021-04-15T00:00:00.000000000',
       '2021-04-16T00:00:00.000000000', '2021-04-19T00:00:00.000000000',
       '2021-04-20T00:00:00.000000000', '2021-04-21T00:00:00.000000000',
       '2021-04-22T00:00:00.000000000', '2021-04-23T00:00:00.000000000',
       '2021-04-24T00:00:00.000000000', '2021-04-26T00:00:00.000000000',
       '2021-04-27T00:00:00.000000000', '2021-04-28T00:00:00.000000000',
       '2021-04-29T00:00:00.000000000', '2021-04-30T00:00:00.000000000',
       '2021-05-01T00:00:00.000000000', '2021-05-03T00:00:00.000000000',
       '2021-05-04T00:00:00.000000000', '2021-05-05T00:00:00.000000000',
       '2021-05-06T00:00:00.000000000', '2021-05-07T00:00:00.000000000',
       '2021-05-10T00:00:00.000000000', '2021-05-11T00:00:00.000000000',
       '2021-05-12T00:00:00.000000000', '2021-05-13T00:00:00.000000000',
       '2021-05-14T00:00:00.000000000', '2021-05-17T00:00:00.000000000',
       '2021-05-18T00:00:00.000000000', '2021-05-19T00:00:00.000000000',
       '2021-05-20T00:00:00.000000000', '2021-05-24T00:00:00.000000000',
       '2021-05-25T00:00:00.000000000', '2021-05-26T00:00:00.000000000',
       '2021-05-27T00:00:00.000000000', '2021-05-28T00:00:00.000000000',
       '2021-05-31T00:00:00.000000000', '2021-06-01T00:00:00.000000000',
       '2021-06-02T00:00:00.000000000', '2021-06-03T00:00:00.000000000',
       '2021-06-04T00:00:00.000000000', '2021-06-07T00:00:00.000000000',
       '2021-06-08T00:00:00.000000000', '2021-06-09T00:00:00.000000000',
       '2021-06-10T00:00:00.000000000', '2021-06-11T00:00:00.000000000',
       '2021-06-12T00:00:00.000000000', '2021-06-14T00:00:00.000000000',
       '2021-06-15T00:00:00.000000000', '2021-06-16T00:00:00.000000000',
       '2021-06-17T00:00:00.000000000', '2021-06-18T00:00:00.000000000',
       '2021-06-22T00:00:00.000000000', '2021-06-23T00:00:00.000000000',
       '2021-06-24T00:00:00.000000000', '2021-06-25T00:00:00.000000000',
       '2021-06-30T00:00:00.000000000', '2021-07-01T00:00:00.000000000',
       '2021-07-02T00:00:00.000000000', '2021-07-05T00:00:00.000000000',
       '2021-07-06T00:00:00.000000000', '2021-07-07T00:00:00.000000000',
       '2021-07-08T00:00:00.000000000', '2021-07-09T00:00:00.000000000',
       '2021-07-12T00:00:00.000000000', '2021-07-13T00:00:00.000000000',
       '2021-07-14T00:00:00.000000000', '2021-07-15T00:00:00.000000000',
       '2021-07-19T00:00:00.000000000', '2021-07-20T00:00:00.000000000',
       '2021-07-21T00:00:00.000000000', '2021-07-22T00:00:00.000000000',
       '2021-07-23T00:00:00.000000000', '2021-07-26T00:00:00.000000000',
       '2021-07-27T00:00:00.000000000', '2021-07-28T00:00:00.000000000',
       '2021-07-29T00:00:00.000000000', '2021-07-30T00:00:00.000000000',
       '2021-08-02T00:00:00.000000000', '2021-08-03T00:00:00.000000000',
       '2021-08-04T00:00:00.000000000', '2021-08-05T00:00:00.000000000',
       '2021-08-06T00:00:00.000000000', '2021-08-09T00:00:00.000000000',
       '2021-08-10T00:00:00.000000000', '2021-08-11T00:00:00.000000000',
       '2021-08-12T00:00:00.000000000', '2021-08-13T00:00:00.000000000',
       '2021-08-16T00:00:00.000000000', '2021-08-17T00:00:00.000000000',
       '2021-08-18T00:00:00.000000000', '2021-08-19T00:00:00.000000000',
       '2021-08-20T00:00:00.000000000', '2021-08-23T00:00:00.000000000',
       '2021-08-25T00:00:00.000000000', '2021-08-26T00:00:00.000000000',
       '2021-09-01T00:00:00.000000000', '2021-09-02T00:00:00.000000000',
       '2021-09-03T00:00:00.000000000', '2021-09-07T00:00:00.000000000',
       '2021-09-09T00:00:00.000000000', '2021-09-10T00:00:00.000000000',
       '2021-09-13T00:00:00.000000000', '2021-09-14T00:00:00.000000000',
       '2021-09-15T00:00:00.000000000', '2021-09-16T00:00:00.000000000',
       '2021-09-23T00:00:00.000000000', '2021-10-07T00:00:00.000000000',
       '2021-10-13T00:00:00.000000000', '2021-10-14T00:00:00.000000000',
       '2021-10-15T00:00:00.000000000', '2021-10-19T00:00:00.000000000',
       '2021-10-20T00:00:00.000000000', '2021-10-21T00:00:00.000000000',
       '2021-10-22T00:00:00.000000000', '2021-10-26T00:00:00.000000000',
       '2021-10-27T00:00:00.000000000', '2021-10-28T00:00:00.000000000',
       '2021-10-29T00:00:00.000000000', '2021-11-01T00:00:00.000000000',
       '2021-11-02T00:00:00.000000000', '2021-11-03T00:00:00.000000000',
       '2021-11-05T00:00:00.000000000'], dtype='datetime64[ns]')

In [19]:
camanchaca[camanchaca.duplicated()]

,FECHA,PRODUCTO,EMPAQUE,PAIS,CALIBRE,CANTIDAD,PRECIO CFR,EMPRESA,SEMANA
1181,2020-12-28,WHO,RETAIL,United states,20-35,14301.000,3.241350,Camanchaca,53
202,2020-12-29,WHO,FOODSERV,United states,20-35,18669.000,2.006550,Camanchaca,53
1177,2020-12-30,WHO,RETAIL,United states,20-35,31959.944,3.279938,Camanchaca,53
1176,2020-12-30,WHO,FOODSERV,United states,20-35,17951.160,2.205000,Camanchaca,53
198,2020-12-31,WHO,RETAIL,United states,20-35,14301.000,3.241350,Camanchaca,53
196,2021-01-05,WHO,RETAIL,United states,20-35,15980.800,3.307500,Camanchaca,1
193,2021-01-06,WHO,RETAIL,United states,20-35,30281.800,3.271881,Camanchaca,1
191,2021-01-07,WHO,FOODSERV,United states,20-35,18669.000,2.006550,Camanchaca,1
1159,2021-01-12,WHO,RETAIL,United states,20-35,17282.880,3.241350,Camanchaca,2
181,2021-01-13,WHO,FOODSERV,United states,20-35,36533.900,2.096755,Camanchaca,2
1157,2021-01-13,WHO,RETAIL,United states,20-35,15980.800,3.307500,Camanchaca,2
178,2021-01-15,WHO,RETAIL,United states,20-35,15980.800,3.307500,Camanchaca,2
177,2021-01-15,WHO,FOODSERV,United states,20-35,4540.000,2.094750,Camanchaca,2
175,2021-01-15,MEAT,RETAIL,United states,200-300,9057.600,6.989850,Camanchaca,2
1144,2021-01-18,WHO,FOODSERV,United states,20-35,17978.208,2.160900,Camanchaca,3
174,2021-01-18,WHO,RETAIL,United states,20-35,14301.000,3.241350,Camanchaca,3
1142,2021-01-20,WHO,RETAIL,United states,20-35,17353.600,3.241350,Camanchaca,3
1139,2021-01-21,WHO,FOODSERV,United states,20-35,13238.640,2.249100,Camanchaca,3
1137,2021-01-21,MEAT,RETAIL,United states,200-300,3637.102,3.969000,Camanchaca,3
162,2021-01-23,WHO,FOODSERV,United states,20-35,18669.000,1.984500,Camanchaca,3
161,2021-01-25,WHO,RETAIL,United states,20-35,15583.590,2.425500,Camanchaca,4
1128,2021-01-26,WHO,FOODSERV,United states,20-35,17978.400,2.094750,Camanchaca,4
1129,2021-01-26,WHO,RETAIL,United states,20-35,17353.600,3.241350,Camanchaca,4
1119,2021-01-29,WHO,FOODSERV,United states,20-35,18669.000,2.006550,Camanchaca,4
1103,2021-02-05,WHO,FOODSERV,United states,20-35,17510.780,2.094750,Camanchaca,5
138,2021-02-05,WHO,RETAIL,United states,20-35,28602.000,3.241350,Camanchaca,5
126,2021-02-09,WHO,FOODSERV,United states,20-35,18669.000,2.006550,Camanchaca,6
125,2021-02-10,WHO,FOODSERV,United states,20-35,17978.400,2.205000,Camanchaca,6
118,2021-02-15,WHO,RETAIL,United states,20-35,15980.800,3.307500,Camanchaca,7
117,2021-02-16,WHO,RETAIL,United states,20-35,14301.000,3.241350,Camanchaca,7
1080,2021-02-17,WHO,RETAIL,United states,20-35,33334.248,3.241350,Camanchaca,7
108,2021-02-19,WHO,FOODSERV,United states,20-35,55631.800,2.085300,Camanchaca,7
107,2021-02-24,WHO,RETAIL,United states,20-35,17353.600,3.241350,Camanchaca,8
104,2021-02-25,WHO,RETAIL,United states,20-35,17353.600,3.241350,Camanchaca,8
103,2021-02-25,WHO,FOODSERV,United states,20-35,18669.000,2.006550,Camanchaca,8
101,2021-02-26,WHO,RETAIL,United states,20-35,15980.800,3.307500,Camanchaca,8
96,2021-03-01,WHO,RETAIL,United states,20-35,15980.800,2.954700,Camanchaca,9
1057,2021-03-02,WHO,RETAIL,United states,20-35,15790.500,2.425500,Camanchaca,9
86,2021-03-04,WHO,FOODSERV,United states,20-35,31770.920,2.221962,Camanchaca,9
85,2021-03-04,MEAT,RETAIL,United states,200-300,3637.070,3.969000,Camanchaca,9
69,2021-03-06,WHO,RETAIL,United states,20-35,14301.000,3.241350,Camanchaca,9
1019,2021-03-10,WHO,RETAIL,United states,20-35,31961.600,3.307500,Camanchaca,10
1017,2021-03-11,WHO,FOODSERV,United states,24-32,18669.000,2.072700,Camanchaca,10
1008,2021-03-15,WHO,FOODSERV,United states,20-35,17978.400,2.094750,Camanchaca,11
38,2021-03-17,WHO,FOODSERV,United states,24-32,37338.000,2.072700,Camanchaca,11
621,2021-03-23,WHO,RETAIL,United states,20-35,14301.000,3.241350,Camanchaca,12
974,2021-03-24,WHO,RETAIL,United states,20-35,17353.600,3.241350,Camanchaca,12
965,2021-03-29,WHO,RETAIL,United states,20-35,15790.500,2.425500,Camanchaca,13
963,2021-03-30,WHO,FOODSERV,United states,20-35,35956.800,2.205000,Camanchaca,13
600,2021-04-01,WHO,RETAIL,United states,20-35,15912.700,2.954700,Camanchaca,13
589,2021-04-06,WHO,RETAIL,United states,20-35,15980.800,3.307500,Camanchaca,14
944,2021-04-06,WHO,FOODSERV,United states,20-35,17102.180,2.094750,Camanchaca,14
932,2021-04-09,WHO,RETAIL,United states,20-35,15967.180,3.307500,Camanchaca,14
574,2021-04-12,WHO,RETAIL,United states,20-35,34707.200,3.241350,Camanchaca,15

### Manuelita

In [25]:
companies

{'camanchaca', 'landes', 'manuelita', 'st andrews', 'sudmaris', 'tipo'}

In [20]:
#manuelita
manuelita = pd.DataFrame()

for w in weeks:
    try:
        os.chdir(prices+str(year)+'/'+str(w))
    except:
        print('Error al ingresar a', w)
        continue
    w_files = os.listdir(prices+str(year)+'/'+str(w)+'/')
    for file in w_files:
        if 'manuelita' in file.lower() or 'tipo' in file.lower():
            print(file)
            if file[-4:] != '.lnk':
                # Casos XLS
                if file[-4:] in ['.xls','.slk'] :
                    print('skip')
                    #p.save_book_as(file_name=prices+str(year)+'/'+str(w)+'/'+file ,dest_file_name=prices+str(year)+'/'+str(w)+'/'+file[:-4]+'.xlsx')        
                    #file = prices+str(year)+'/'+str(w)+'/'+file[:-4]+'.xlsx'
                else: # Casos XLSX
                    try: 
                        #Leer hoja donde está la tabla
                        wb = load_workbook(filename = prices+str(year)+'/'+str(w)+'/'+file)
                        hoja = wb.sheetnames
                        sheet = wb[hoja[0]]

                        #Transformar hoja en un df
                        df = pd.DataFrame(sheet.values) 
                        df.dropna(axis=0, thresh=2, inplace=True)

                        #Anexar
                        manuelita = manuelita.append(df)
                    except:
                        print('Error en', file)
                    

# Resetear indices
manuelita.sample(20)

DM Manuelita 2021_10.xlsx
DM Manuelita 2021_12.xlsx
DM Manuelita 2021_13 a 21v2.xlsx
Planilla Tipo Precios DataMussel Precios Junio 2021.xlsx
DM Manuelita 2021_27.xlsx
DM Manuelita 2021_28.xlsx
DM Manuelita 2021_29.xlsx
DM Manuelita 2021_30.xlsx
DM Manuelita 2021_31.xlsx
DM Manuelita 2021_32.xlsx
DM Manuelita 2021_33.xlsx
DM Manuelita 2021_34.xlsx
DM Manuelita 2021_35.xlsx
DM Manuelita 2021_36.xlsx
DM Manuelita 2021_38.xlsx
DM Manuelita 2021_39.xlsx
DM Manuelita 2021_41.xlsx
DM Manuelita 2021_42 y 43.xlsx
DM Manuelita 2021_44.xlsx

,0,1,2,3,4,5,6,7,8
4,2021-08-18 00:00:00,CARNE,GRANEL,300-500,24000,2.9,Spot,Rusia,NaN
9,2021-10-22 00:00:00,CARNE,GRANEL,200-300,3000,2.9,Spot,Polonia,NaN
12,2021-08-27 00:00:00,ENTERO,SIN SALSA,40-60,10000,2.05,Spot,Rusia,NaN
14,"=WEEKNUM(B15,21)",2021-03-17 00:00:00,ENTERO,SIN SALSA,20-40,413,2.25,Contrato,ARGENTINA
6,2021-03-31 00:00:00,CARNE,GRANEL,300-500,24000,2.7,Spot,Francia,NaN
17,"=WEEKNUM(B18,21)",2021-03-17 00:00:00,CARNE,GRANEL,300-500,19000,2.9,Spot,FRANCIA
43,2021-04-30 00:00:00,CARNE,GRANEL,300-500,12480,2.9,Spot,Rusia,NaN
4,2021-07-26 00:00:00,ENTERO,SIN SALSA,500-800,4000,2.15,Spot,Panamá,NaN
52,2021-05-05 00:00:00,CARNE,GRANEL,100-200,10,3.05,Spot,Rusia,NaN
6,2021-06-09 00:00:00,CARNE,GRANEL,200-300,24000,3,Spot,España,NaN
15,2021-07-30 00:00:00,ENTERO,SIN SALSA,60-80,20400,1.93952,Spot,USA,NaN
5,2021-09-28 00:00:00,CARNE,GRANEL,100-200,24000,3.1,Spot,Grecia,NaN
75,2021-05-20 00:00:00,CARNE,GRANEL,100-200,24000,3.1,Spot,España,NaN
4,2021-06-08 00:00:00,ENTERO,SIN SALSA,40-60,20400,2.05,Contrato,Rusia,NaN
21,2021-10-28 00:00:00,CARNE,GRANEL,100-200,24000,3,Spot,España,NaN
49,2021-05-05 00:00:00,CARNE,GRANEL,IND-DN,3000,2.15,Spot,Argentina,NaN
1,2021-07-12 00:00:00,ENTERO,SIN SALSA,60-80,20400,1.85,Spot,Francia,NaN
19,2021-10-28 00:00:00,CARNE,GRANEL,200-300,12000,3.05,Spot,Costa Rica,NaN
2,2021-10-20 00:00:00,CARNE,GRANEL,300-500,24000,2.9,Spot,Francia,NaN
28,2021-04-23 00:00:00,MEDIA CONCHA,RETAIL,40-60,3274,4.85,Spot,Panamá,NaN

In [21]:
# Trasformar a fecha
manuelita[0] = manuelita[0].apply(lambda f: pd.to_datetime(f, errors='coerce'))

In [22]:
manuelita[manuelita[0] < '2021-01-01'] = manuelita[manuelita[0] < '2021-01-01'].shift(-1, axis=1)
manuelita[manuelita[0].isnull()] = manuelita[manuelita[0].isnull()].shift(-1, axis=1)

In [23]:
manuelita.drop(manuelita.loc[manuelita[0] == 'PRODUCTO'].index, inplace=True)
manuelita[0] = manuelita[0].apply(lambda f: pd.to_datetime(f, errors='coerce'))

In [24]:
manuelita.sample(20)

,0,1,2,3,4,5,6,7,8
1,2021-10-19,CARNE,GRANEL,INDUSTRIAL,24000,2.4,Spot,Grecia,NaN
6,2021-07-23,CARNE,GRANEL,300-500,24000,2.9,Spot,Francia,NaN
2,2021-08-09,CARNE,GRANEL,300-500,19550,2.7,Spot,Francia,NaN
10,2021-08-20,CARNE,GRANEL,200-300,24000,2.95,Spot,España,NaN
6,2021-03-11,MEDIA CONCHA,RETAIL,40-60,9024,4.8,Contrato,COSTA RICA,NaN
1,2021-08-16,ENTERO,SIN SALSA,40-60,20400,2.05,Spot,Rusia,NaN
21,2021-03-18,CARNE,GRANEL,300-500,18000,2.82,Spot,POLONIA,NaN
34,2021-03-25,ENTERO,SIN SALSA,40-60,7000,2,Contrato,LITUANIA,NaN
12,2021-04-09,CARNE,GRANEL,80-100,1520,3.8,Spot,Francia,NaN
9,2021-09-10,CARNE,GRANEL,100-200,24000,3.1,Spot,Rusia,NaN
60,2021-05-12,CARNE,GRANEL,300-500,24000,2.95,Spot,Inglaterra,NaN
18,2021-06-17,CARNE,GRANEL,200-300,10000,3,Spot,España,NaN
37,2021-06-30,CARNE,GRANEL,IND-DN,14080,2.3,Spot,Panamá,NaN
34,2021-04-27,CARNE,GRANEL,200-300,24000,3.05,Spot,Rusia,NaN
14,2021-07-30,CARNE,GRANEL,200-300,24000,3,Spot,España,NaN
1,2021-07-05,CARNE,GRANEL,200-300,24000,3,Spot,España,NaN
39,2021-04-28,CARNE,GRANEL,200-300,24000,3,Spot,Grecia,NaN
35,2021-03-25,ENTERO,SIN SALSA,50-70,4000,1.9,Contrato,LITUANIA,NaN
19,2021-03-17,CARNE,GRANEL,100-200,24000,3.1,Spot,ESPAÑA,NaN
28,2021-06-25,CARNE,GRANEL,300-500,18640,2.9,Contrato,Francia,NaN

In [25]:
manuelita.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 304 entries, 1 to 2
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       304 non-null    datetime64[ns]
 1   1       304 non-null    object
 2   2       304 non-null    object
 3   3       304 non-null    object
 4   4       304 non-null    object
 5   5       304 non-null    object
 6   6       304 non-null    object
 7   7       304 non-null    object
 8   8       0 non-null      object
dtypes: datetime64[ns](1), object(8)
memory usage: 23.8+ KB

In [26]:
# Eliminar columna nulas
manuelita.dropna(axis=1, inplace=True)

In [27]:
manuelita.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 304 entries, 1 to 2
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       304 non-null    datetime64[ns]
 1   1       304 non-null    object
 2   2       304 non-null    object
 3   3       304 non-null    object
 4   4       304 non-null    object
 5   5       304 non-null    object
 6   6       304 non-null    object
 7   7       304 non-null    object
dtypes: datetime64[ns](1), object(7)
memory usage: 21.4+ KB

In [28]:
# Modificaciones columnas 
manuelita.columns = ['FECHA','PRODUCTO','EMPAQUE','CALIBRE','CANTIDAD','PRECIO CFR','TIPO VENTA', 'PAIS']
manuelita['EMPRESA'] = 'Manuelita'
manuelita['SEMANA'] = manuelita.FECHA.apply(lambda f: f.isocalendar()[1])

In [29]:
manuelita.CALIBRE = manuelita.CALIBRE.apply(lambda x: str(x).split(" ")[0])

In [30]:
manuelita.head()

,FECHA,PRODUCTO,EMPAQUE,CALIBRE,CANTIDAD,PRECIO CFR,TIPO VENTA,PAIS,EMPRESA,SEMANA
1,2021-03-02,ENTERO,SIN SALSA,20-40,19613,2.1,Contrato,Rusia,Manuelita,9
2,2021-03-05,CARNE,GRANEL,300-500,24000,2.95,Spot,Rusia,Manuelita,9
3,2021-03-08,CARNE,GRANEL,200-300,24000,2.95,Spot,ESPAÑA,Manuelita,10
4,2021-03-09,CARNE,GRANEL,200-300,24000,2.95,Spot,ESPAÑA,Manuelita,10
5,2021-03-10,CARNE,GRANEL,300-500,24000,2.9,Spot,UCRANIA,Manuelita,10

In [31]:
# Eliminar duplicados
manuelita.drop_duplicates(inplace= True)

In [32]:
manuelita[manuelita.duplicated(subset=['FECHA','PRODUCTO','EMPAQUE','CALIBRE', 'PAIS'], keep= False)]

,FECHA,PRODUCTO,EMPAQUE,CALIBRE,CANTIDAD,PRECIO CFR,TIPO VENTA,PAIS,EMPRESA,SEMANA
27,2021-04-23,MEDIA CONCHA,RETAIL,40-60,268,4,Spot,Panamá,Manuelita,16
28,2021-04-23,MEDIA CONCHA,RETAIL,40-60,3274,4.85,Spot,Panamá,Manuelita,16
30,2021-04-26,CARNE,GRANEL,200-300,3000,2.95,Spot,Uruguay,Manuelita,17
31,2021-04-26,CARNE,GRANEL,200-300,8000,2.7,Spot,Uruguay,Manuelita,17
51,2021-05-05,CARNE,GRANEL,100-200,23990,3.05,Spot,Rusia,Manuelita,18
52,2021-05-05,CARNE,GRANEL,100-200,10,3.05,Spot,Rusia,Manuelita,18
8,2021-07-29,CARNE,GRANEL,200-300,24000,3.1,Spot,Rusia,Manuelita,30
10,2021-07-29,CARNE,GRANEL,200-300,80,3,Spot,Rusia,Manuelita,30
6,2021-08-26,CARNE,GRANEL,200-300,2000,2.95,Spot,Uruguay,Manuelita,34
7,2021-08-26,CARNE,GRANEL,200-300,7000,2.7,Spot,Uruguay,Manuelita,34
8,2021-08-27,ENTERO,SIN SALSA,40-60,19045,2.08,Spot,Rusia,Manuelita,34
9,2021-08-27,ENTERO,SIN SALSA,40-60,5,2.08,Spot,Rusia,Manuelita,34
12,2021-08-27,ENTERO,SIN SALSA,40-60,10000,2.05,Spot,Rusia,Manuelita,34
9,2021-10-22,CARNE,GRANEL,200-300,3000,2.9,Spot,Polonia,Manuelita,42
10,2021-10-22,CARNE,GRANEL,200-300,3000,3.05,Spot,Polonia,Manuelita,42
16,2021-10-27,CARNE,GRANEL,100-200,3240,3.1,Spot,Rusia,Manuelita,43
17,2021-10-27,CARNE,GRANEL,100-200,17010,3.13,Spot,Rusia,Manuelita,43

In [33]:
# Ordenar y revisar
manuelita.sort_values(by='FECHA', ascending = True, inplace = True)
manuelita.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 291 entries, 1 to 2
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FECHA       291 non-null    datetime64[ns]
 1   PRODUCTO    291 non-null    object
 2   EMPAQUE     291 non-null    object
 3   CALIBRE     291 non-null    object
 4   CANTIDAD    291 non-null    object
 5   PRECIO CFR  291 non-null    object
 6   TIPO VENTA  291 non-null    object
 7   PAIS        291 non-null    object
 8   EMPRESA     291 non-null    object
 9   SEMANA      291 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 25.0+ KB

In [34]:
# Transformaciones a números
manuelita['PRECIO CFR'] = manuelita['PRECIO CFR'].apply(lambda p: pd.to_numeric(p, errors='coerce'))

In [35]:
# Arreglo países
manuelita.PAIS = manuelita.PAIS.apply(str.capitalize)

In [36]:
manuelita.sample(20)

,FECHA,PRODUCTO,EMPAQUE,CALIBRE,CANTIDAD,PRECIO CFR,TIPO VENTA,PAIS,EMPRESA,SEMANA
37,2021-04-28,CARNE,GRANEL,200-300,12500,3.25000,Spot,Japón,Manuelita,17
10,2021-09-29,CARNE,GRANEL,300-500,24000,2.70000,Spot,Francia,Manuelita,39
4,2021-03-29,ENTERO,SIN SALSA,50-80,228,1.15000,Spot,Usa,Manuelita,13
1,2021-08-23,CARNE,GRANEL,300-500,24000,2.90000,Spot,Rusia,Manuelita,34
23,2021-03-19,CARNE,GRANEL,200-400,10000,2.95000,Spot,Grecia,Manuelita,11
9,2021-08-19,CARNE,GRANEL,200-300,24000,2.95000,Spot,España,Manuelita,33
43,2021-04-30,CARNE,GRANEL,300-500,12480,2.90000,Spot,Rusia,Manuelita,17
30,2021-04-26,CARNE,GRANEL,200-300,3000,2.95000,Spot,Uruguay,Manuelita,17
9,2021-03-31,ENTERO,SIN SALSA,18-27,18069.2,1.85022,Spot,Usa,Manuelita,13
36,2021-06-30,ENTERO,SIN SALSA,46-58,18402.3,2.09138,Contrato,Usa,Manuelita,26
11,2021-08-20,CARNE,GRANEL,200-400,24000,2.95000,Spot,Grecia,Manuelita,33
4,2021-08-25,CARNE,RETAIL,300-500,5510,3.55000,Spot,Francia,Manuelita,34
50,2021-05-05,ENTERO,SIN SALSA,20-40,1998,2.00000,Spot,Argentina,Manuelita,18
7,2021-07-23,ENTERO,SIN SALSA,60-80,20400,1.93952,Spot,Usa,Manuelita,29
7,2021-08-18,ENTERO,SIN SALSA,20-40,1498,2.10000,Spot,Argentina,Manuelita,33
17,2021-10-27,CARNE,GRANEL,100-200,17010,3.13000,Spot,Rusia,Manuelita,43
21,2021-03-18,CARNE,GRANEL,300-500,18000,2.82000,Spot,Polonia,Manuelita,11
7,2021-08-31,CARNE,GRANEL,200-300,24000,3.10000,Spot,Rusia,Manuelita,35
5,2021-10-15,CARNE,GRANEL,300-500,5000,2.95000,Spot,Rusia,Manuelita,41
13,2021-10-25,CARNE,GRANEL,200-300,11350,2.70000,Spot,Francia,Manuelita,43

In [37]:
#manuelita.drop_duplicates(subset=['FECHA','PRODUCTO','EMPAQUE','PAIS','CALIBRE'], inplace=True)
manuelita.drop_duplicates(inplace=True)

In [38]:
manuelita[manuelita.duplicated(subset=['FECHA','PRODUCTO','EMPAQUE','PAIS','CALIBRE'], keep=False)]

,FECHA,PRODUCTO,EMPAQUE,CALIBRE,CANTIDAD,PRECIO CFR,TIPO VENTA,PAIS,EMPRESA,SEMANA
27,2021-04-23,MEDIA CONCHA,RETAIL,40-60,268,4.00,Spot,Panamá,Manuelita,16
28,2021-04-23,MEDIA CONCHA,RETAIL,40-60,3274,4.85,Spot,Panamá,Manuelita,16
30,2021-04-26,CARNE,GRANEL,200-300,3000,2.95,Spot,Uruguay,Manuelita,17
31,2021-04-26,CARNE,GRANEL,200-300,8000,2.70,Spot,Uruguay,Manuelita,17
51,2021-05-05,CARNE,GRANEL,100-200,23990,3.05,Spot,Rusia,Manuelita,18
52,2021-05-05,CARNE,GRANEL,100-200,10,3.05,Spot,Rusia,Manuelita,18
8,2021-07-29,CARNE,GRANEL,200-300,24000,3.10,Spot,Rusia,Manuelita,30
10,2021-07-29,CARNE,GRANEL,200-300,80,3.00,Spot,Rusia,Manuelita,30
6,2021-08-26,CARNE,GRANEL,200-300,2000,2.95,Spot,Uruguay,Manuelita,34
7,2021-08-26,CARNE,GRANEL,200-300,7000,2.70,Spot,Uruguay,Manuelita,34
12,2021-08-27,ENTERO,SIN SALSA,40-60,10000,2.05,Spot,Rusia,Manuelita,34
8,2021-08-27,ENTERO,SIN SALSA,40-60,19045,2.08,Spot,Rusia,Manuelita,34
9,2021-08-27,ENTERO,SIN SALSA,40-60,5,2.08,Spot,Rusia,Manuelita,34
9,2021-10-22,CARNE,GRANEL,200-300,3000,2.90,Spot,Polonia,Manuelita,42
10,2021-10-22,CARNE,GRANEL,200-300,3000,3.05,Spot,Polonia,Manuelita,42
16,2021-10-27,CARNE,GRANEL,100-200,3240,3.10,Spot,Rusia,Manuelita,43
17,2021-10-27,CARNE,GRANEL,100-200,17010,3.13,Spot,Rusia,Manuelita,43

In [39]:
manuelita[manuelita.duplicated(keep=False)]

Empty DataFrame
Columns: [FECHA, PRODUCTO, EMPAQUE, CALIBRE, CANTIDAD, PRECIO CFR, TIPO VENTA, PAIS, EMPRESA, SEMANA]
Index: []

In [40]:
manuelita.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 291 entries, 1 to 2
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FECHA       291 non-null    datetime64[ns]
 1   PRODUCTO    291 non-null    object
 2   EMPAQUE     291 non-null    object
 3   CALIBRE     291 non-null    object
 4   CANTIDAD    291 non-null    object
 5   PRECIO CFR  290 non-null    float64
 6   TIPO VENTA  291 non-null    object
 7   PAIS        291 non-null    object
 8   EMPRESA     291 non-null    object
 9   SEMANA      291 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 25.0+ KB

### St. Andrews

In [41]:
companies

NameError: name 'companies' is not defined

In [42]:
#Lectura de datos
standrews = pd.DataFrame()

for w in weeks:
    try:
        os.chdir(prices+str(year)+'/'+str(w))
    except:
        print('Error al ingresar a', w)
        continue
    w_files = os.listdir(prices+str(year)+'/'+str(w)+'/')
    for file in w_files:
        if 'st andrews' in file.lower():
            print(file)
            if file[-4:] != '.lnk':
                # Casos XLS
                if file[-4:] in ['.xls','.slk'] :
                    try:
                        df = pd.read_excel(prices+str(year)+'/'+str(w)+'/'+file, skiprows=1)
                        #Anexar
                        standrews = standrews.append(df)
                        
                    except:
                        print('Error en', file)
                else: # Casos XLSX
                    try: 
                        #Leer hoja donde está la tabla
                        wb = load_workbook(filename = prices+str(year)+'/'+str(w)+'/'+file)
                        hoja = wb.sheetnames
                        sheet = wb[hoja[0]]

                        #Transformar hoja en un df
                        df = pd.DataFrame(sheet.values) 
                        df.dropna(axis=0, thresh=2, inplace=True)

                        #Anexar
                        standrews = standrews.append(df)
                    except:
                        print('Error en', file)

DM St Andrews 2021_01.xls
DM St Andrews 2021_01_v2.xls
DM St Andrews 2021_10.xls
DM St Andrews 2021_11.xls
DM St Andrews 2021_12.xls
DM St Andrews 2021_13.xls
DM St Andrews 2021_14.xls
DM St Andrews 2021_15.xls
DM St Andrews 2021_16.xls
DM St Andrews 2021_17.xls
DM St Andrews 2021_18.xls
DM St Andrews 2021_19.xls
DM St Andrews 2021_2.xls
DM St Andrews 2021_20.xls
DM St Andrews 2021_21.xls
DM St Andrews 2021_22.xls
DM St Andrews 2021_23.xls
DM St Andrews 2021_24.xls
DM St Andrews 2021_25.xls
DM St Andrews 2021_26.xls
DM St Andrews 2021_27.xls
DM St Andrews 2021_28.xls
DM St Andrews 2021_29.xls
DM St Andrews 2021_3.xls
DM St Andrews 2021_30.xls
DM St Andrews 2021_31.xls
DM St Andrews 2021_32.xls
DM St Andrews 2021_33.xls
DM St Andrews 2021_34.xls
DM St Andrews 2021_35.xls
DM St Andrews 2021_36.xls
DM St Andrews 2021_37.xls
DM St Andrews 2021_38.xls
DM St Andrews 2021_39.xls
DM St Andrews 2021_04.xls
DM St Andrews 2021_40.xls
DM St Andrews 2021_41.xls
DM St Andrews 2021_42.xls
St Andrews 2021_43.xls
DM St Andrews 2021_44.xls
DM St Andrews 2021_05.xls
DM St Andrews 2021_06.xls
DM St Andrews 2021_07.xls
DM St Andrews 2021_8.xls
DM St Andrews 2021_9.xls

In [43]:
standrews.head()

,Fecha Carga Estimada,Producto Global,EMPAQUE,Calibre,Precio Unitario,VENTAS,Pais,Peso,VENTA,VENTA,FECHA,PRODUCTO,Empaque,CALIBRE,CANTIDAD,PRECIO CFR,TIPO VENTA,DESTINO
0,2021-01-07,CARNE,GRANEL,SIN CALIBRE,NaN,PROGRAMA,CHILE,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-08,CARNE,RETAIL NO COMPENSADO,SIN CALIBRE,NaN,PROGRAMA,CHILE,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-08,ENTERO,SIN SALSA,SIN CALIBRE,NaN,PROGRAMA,CHILE,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-08,ENTERO,CON SALSA,SIN CALIBRE,NaN,PROGRAMA,CHILE,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-08,ENTERO,CON SALSA,SIN CALIBRE,NaN,PROGRAMA,CHILE,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# Completar valores
standrews['FECHA'].fillna(standrews['Fecha Carga Estimada'], inplace = True)
standrews['PRODUCTO'].fillna(standrews['Producto Global'], inplace = True)
standrews['Empaque'].fillna(standrews['EMPAQUE'], inplace=True)
standrews['CALIBRE'].fillna(standrews['Calibre'], inplace = True)
standrews['CANTIDAD'].fillna(standrews['Peso'], inplace = True)
standrews['PRECIO CFR'].fillna(standrews['Precio Unitario'], inplace = True)
standrews['DESTINO'].fillna(standrews['Pais'], inplace = True)

In [45]:
standrews.drop(['Fecha Carga Estimada','Producto Global','EMPAQUE','Calibre','Peso','Precio Unitario','Pais'], axis=1, inplace = True)

In [46]:
standrews.dropna(axis=0, thresh=7, inplace=True)

In [47]:
standrews['TIPO VENTA'].fillna(standrews['VENTA'], inplace = True)
standrews['TIPO VENTA'].fillna(standrews['VENTA '], inplace=True)
standrews['TIPO VENTA'].fillna(standrews['VENTAS'], inplace=True)

In [48]:
standrews['TIPO VENTA'].isna().sum()

0

In [49]:
standrews.drop(['VENTA', 'VENTA ', 'VENTAS'], axis=1, inplace=True)

In [50]:
standrews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1524 entries, 7 to 39
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FECHA       1524 non-null   object
 1   PRODUCTO    1524 non-null   object
 2   Empaque     1524 non-null   object
 3   CALIBRE     1524 non-null   object
 4   CANTIDAD    1472 non-null   float64
 5   PRECIO CFR  1461 non-null   object
 6   TIPO VENTA  1524 non-null   object
 7   DESTINO     1524 non-null   object
dtypes: float64(1), object(7)
memory usage: 107.2+ KB

In [51]:
# Modificaciones columnas 
standrews.columns = ['FECHA','PRODUCTO','EMPAQUE','CALIBRE','CANTIDAD','PRECIO CFR','TIPO VENTA', 'PAIS']
standrews['EMPRESA'] = 'St Andrews'
standrews['FECHA'] = standrews.FECHA.apply(lambda f: pd.to_datetime(f, errors='coerce'))
standrews['SEMANA'] = standrews.FECHA.apply(lambda f: f.isocalendar()[1])
standrews.CALIBRE = standrews.CALIBRE.apply(lambda x: str(x).split(" ")[0])
standrews['PRECIO CFR'] = standrews['PRECIO CFR'].apply(lambda p: pd.to_numeric(p, errors='coerce'))
standrews.sort_values(by='FECHA', ascending = True, inplace = True)

In [52]:

#standrews[standrews.duplicated(subset=['FECHA','PRODUCTO','EMPAQUE','CALIBRE','TIPO VENTA', 'PAIS'],keep= False)].sort_values(by=['FECHA','PAIS'])

In [53]:
#standrews.drop_duplicates(subset=['FECHA','PRODUCTO','EMPAQUE','CALIBRE','PAIS'],inplace= True)
standrews.drop_duplicates(inplace=True)

In [54]:
standrews.reset_index(inplace= True, drop=True)

In [55]:
standrews.CALIBRE.unique()

array(['18-27', 'C200-300', 'E-40-60', 'C300-500', 'E-23-29', 'C90-150',
       'C100-200', 'E-23-32', 'E-60-80', 'SIN', 'E50-70', 'MC60-80',
       'E20-30', 'E-25-35', 'MC40-60', 'MC20-40', 'C-91-136', '22-36',
       'E-50-80', 'C500-800', 'E-50-70', 'E60-80', 'MC80-100', '35-45',
       'MC100-120', 'C', 'E-23-32/LB', 'E-23-29/LB', 'MC120', 'MC80-90',
       '40-60', '300-500', '50-80', '200-300', '80-100', '100-200',
       '500-800'], dtype=object)

In [56]:
standrews.drop(standrews.loc[standrews['CANTIDAD'].isna()].index, inplace=True)

In [57]:
standrews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1382 entries, 4 to 1425
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FECHA       1382 non-null   datetime64[ns]
 1   PRODUCTO    1382 non-null   object
 2   EMPAQUE     1382 non-null   object
 3   CALIBRE     1382 non-null   object
 4   CANTIDAD    1382 non-null   float64
 5   PRECIO CFR  1219 non-null   float64
 6   TIPO VENTA  1382 non-null   object
 7   PAIS        1382 non-null   object
 8   EMPRESA     1382 non-null   object
 9   SEMANA      1382 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 118.8+ KB

In [58]:
standrews.sample(20)

,FECHA,PRODUCTO,EMPAQUE,CALIBRE,CANTIDAD,PRECIO CFR,TIPO VENTA,PAIS,EMPRESA,SEMANA
1227,2021-09-09,ENTERO,SIN SALSA,E-23-29,14800.400,2.23,PROGRAMA,USA,St Andrews,36
826,2021-06-17,CARNE,RETAIL COMPENSADO,C200-300,10983.168,5.29,PROGRAMA,USA,St Andrews,24
811,2021-06-15,CARNE,GRANEL,C200-300,4994.000,3.63,PROGRAMA,USA,St Andrews,24
65,2021-01-12,ENTERO,CON SALSA Y ESTUCHE,E-50-80,1000.000,2.55,PROGRAMA,UCRANIA,St Andrews,2
809,2021-06-15,CARNE,GRANEL,C100-200,23000.000,3.22,PROGRAMA,RUSSIA,St Andrews,24
1000,2021-07-30,CARNE,GRANEL,C100-200,23000.000,3.20,PROGRAMA,RUSSIA,St Andrews,30
1424,2021-11-05,ENTERO,SIN SALSA,E-50-70,10000.000,2.15,PROGRAMA,CHINA,St Andrews,44
1171,2021-09-01,CARNE,GRANEL,C200-300,3000.000,3.00,PROGRAMA,ARGENTINA,St Andrews,35
696,2021-05-29,CARNE,GRANEL,C300-500,10000.000,3.27,PROGRAMA,RUSSIA,St Andrews,21
1316,2021-09-27,CARNE,GRANEL,SIN,760.000,0.00,PROGRAMA,CHILE,St Andrews,39
155,2021-02-05,CARNE,GRANEL,C100-200,6900.000,3.40,PROGRAMA,RUSSIA,St Andrews,5
1213,2021-09-08,ENTERO,SIN SALSA,E-23-29,3423.160,2.03,PROGRAMA,USA,St Andrews,36
1148,2021-08-27,CARNE,GRANEL,C100-200,760.000,NaN,PROGRAMA,CHILE,St Andrews,34
1374,2021-10-20,CARNE,GRANEL,C500-800,23000.000,2.75,PROGRAMA,RUSSIA,St Andrews,42
282,2021-03-04,MEDIA CONCHA,GRANEL,MC80-100,1746.000,3.82,PROGRAMA,ESPAÑA,St Andrews,9
290,2021-03-05,MEDIA CONCHA,GRANEL,MC40-60,9999.000,4.05,PROGRAMA,PORTUGAL,St Andrews,9
1298,2021-09-27,ENTERO,CON SALSA CON ESTUCHE,E-50-70,6210.720,3.33,PROGRAMA,JAPAN,St Andrews,39
372,2021-03-24,CARNE,GRANEL,C200-300,10000.000,3.47,PROGRAMA,RUSSIA,St Andrews,12
1309,2021-09-27,CARNE,GRANEL,C100-200,10.000,0.00,PROGRAMA,CHILE,St Andrews,39
39,2021-01-07,CARNE,GRANEL,SIN,7890.000,NaN,PROGRAMA,CHILE,St Andrews,1

In [59]:
standrews[standrews.duplicated(keep=False)]

Empty DataFrame
Columns: [FECHA, PRODUCTO, EMPAQUE, CALIBRE, CANTIDAD, PRECIO CFR, TIPO VENTA, PAIS, EMPRESA, SEMANA]
Index: []

In [60]:
standrews[standrews.duplicated(subset = ['FECHA','PRODUCTO','EMPAQUE','CALIBRE','PAIS'],keep=False)]

,FECHA,PRODUCTO,EMPAQUE,CALIBRE,CANTIDAD,PRECIO CFR,TIPO VENTA,PAIS,EMPRESA,SEMANA
5,2021-01-04,ENTERO,SIN SALSA,E-23-29,9833.64,1.91,PROGRAMA,USA,St Andrews,1
6,2021-01-04,ENTERO,SIN SALSA,E-23-29,3286.96,1.91,PROGRAMA,USA,St Andrews,1
39,2021-01-07,CARNE,GRANEL,SIN,7890.00,NaN,PROGRAMA,CHILE,St Andrews,1
40,2021-01-07,CARNE,GRANEL,SIN,810.00,NaN,PROGRAMA,CHILE,St Andrews,1
65,2021-01-12,ENTERO,CON SALSA Y ESTUCHE,E-50-80,1000.00,2.55,PROGRAMA,UCRANIA,St Andrews,2
...,...,...,...,...,...,...,...,...,...,...
1393,2021-10-22,CARNE,GRANEL,C100-200,200.00,0.00,PROGRAMA,CHILE,St Andrews,42
1394,2021-10-22,CARNE,GRANEL,C100-200,510.00,0.00,PROGRAMA,CHILE,St Andrews,42
1395,2021-10-22,CARNE,GRANEL,C500-800,11270.00,0.00,PROGRAMA,CHILE,St Andrews,42
1396,2021-10-22,CARNE,GRANEL,C500-800,340.00,0.00,PROGRAMA,CHILE,St Andrews,42
1397,2021-10-22,CARNE,GRANEL,C500-800,20.00,0.00,PROGRAMA,CHILE,St Andrews,42

### Sudmaris

In [61]:
companies

NameError: name 'companies' is not defined

In [62]:
#Lectura de datos
sudmaris = pd.DataFrame()

for w in weeks:
    try:
        os.chdir(prices+str(year)+'/'+str(w))
    except:
        print('Error al ingresar a', w)
        continue
    w_files = os.listdir(prices+str(year)+'/'+str(w)+'/')
    for file in w_files:
        if 'sudmaris' in file.lower():
            print(file)
            if file[-4:] != '.lnk':
                # Casos XLS
                if file[-4:] in ['.xls','.slk'] :
                    try:
                        df = pd.read_excel(prices+str(year)+'/'+str(w)+'/'+file, skiprows=1)
                        
                        #Anexar
                        sudmaris = sudmaris.append(df)
                        
                    except:
                        print('Error en', file)
                else: # Casos XLSX
                    try: 
                        #Leer hoja donde está la tabla
                        wb = load_workbook(filename = prices+str(year)+'/'+str(w)+'/'+file)
                        hoja = wb.sheetnames
                        sheet = wb[hoja[1]]

                        #Transformar hoja en un df
                        df = pd.DataFrame(sheet.values) 

                        #Anexar
                        sudmaris = sudmaris.append(df)
                    except:
                        print('Error en', file)

DM Sudmaris 2021_10.xlsx
DM Sudmaris 2021_11.xlsx
DM Sudmaris 2021_13.xlsx
DM Sudmaris 2021_14.xlsx
DM Sudmaris 2021_15.xlsx
DM Sudmaris 2021_16.xlsx
DM Sudmaris 2021_17.xlsx
DM Sudmaris 2021_19.xlsx
DM Sudmaris 2021_20.xlsx
DM Sudmaris 2021_21.xlsx
DM Sudmaris 2021_23.xlsx
DM Sudmaris 2021_24.xlsx
DM Sudmaris 2021_26.xlsx
DM Sudmaris 2021_27.xlsx
DM Sudmaris 2021_28.xlsx
DM Sudmaris 2021_29.xlsx
DM Sudmaris 2021_03.xlsx
DM Sudmaris 2021_32.xlsx
DM Sudmaris 2021_33.xlsx
DM Sudmaris 2021_34.xlsx
DM Sudmaris 2021_35.xlsx
DM Sudmaris 2021_36.xlsx
DM Sudmaris 2021_37.xlsx
DM Sudmaris 2021_38 y 39.xlsx
DM Sudmaris 2021_41.xlsx
DM Sudmaris 2021_42.xlsx
DM Sudmaris 2021_43 y44.xlsx
DM Sudmaris 2021_06.xlsx
DM Sudmaris 2021_07.xlsx

In [63]:
sudmaris.head(10)

,0,1,2,3,4,5,6,7,8,9,10
0,SEMANA,FECHA,PRODUCTO,Empaque,CALIBRE,CANTIDAD,PRECIO CFR,PRECIO FOB,TIPO VENTA,DESTINO,None
1,7,2020-02-11 00:00:00,Media Concha,Granel,C60-80,21890,4.09,=G2-0.18,Contrato,Usa,None
2,7,2020-02-11 00:00:00,Carne,Granel,C300-500,24000,2.85,=G3-0.18,Spot,Francia,None
3,7,2020-02-14 00:00:00,Carne,Granel,C200-300,2000,3.4,=G4-0.18,Spot,Francia,None
4,7,2020-02-14 00:00:00,Entero,Sin Salsa,C60-80,2000,1.9,=G5-0.18,Spot,Francia,None
5,7,2020-02-14 00:00:00,Carne,Retail Compensado,C300-500,7000,3.5,=G6-0.18,Spot,Francia,None
6,7,2020-02-14 00:00:00,Carne,Granel,C300-500,9000,2.85,=G7-0.18,Spot,Francia,None
7,8,2020-02-17 00:00:00,Media Concha,Granel,C100-120,3995,2.58,=G8-0.18,Spot,Argentina,None
8,8,2020-02-17 00:00:00,Carne,Granel,C200-300,24000,3.25,=G9-0.18,Spot,España,None
9,8,2020-02-18 00:00:00,Carne,Granel,C200-300,24000,3.1,=G10-0.18,Spot,Rusia,None

In [64]:
# Eliminar fila semanas y Nan
sudmaris.drop(sudmaris.iloc[:,[0,10]], axis=1, inplace=True)

#Corregir nombres de columnas
sudmaris.columns = sudmaris.iloc[0,:]
sudmaris.reset_index(inplace=True, drop=True)
sudmaris.drop(sudmaris.iloc[0].index.name,inplace= True)

In [65]:
# Modificaciones columnas 
sudmaris.columns = ['FECHA','PRODUCTO','EMPAQUE','CALIBRE','CANTIDAD','PRECIO CFR', 'PRECIO FOB','TIPO VENTA', 'PAIS']
sudmaris['EMPRESA'] = 'Sudmaris'
sudmaris.FECHA = sudmaris.FECHA.apply(lambda f: pd.to_datetime(f, errors='coerce'))
sudmaris.drop(sudmaris.loc[sudmaris.FECHA.isna()].index, axis=0, inplace = True)

In [66]:
# Transformaciones en columnas
sudmaris['SEMANA'] = sudmaris.FECHA.apply(lambda f: f.isocalendar()[1])
sudmaris.CALIBRE = sudmaris.CALIBRE.apply(lambda x: str(x).split(" ")[0])
sudmaris.CANTIDAD = sudmaris.CANTIDAD.apply(lambda c: pd.to_numeric(c, errors='coerce'))
sudmaris['PRECIO CFR'] = sudmaris['PRECIO CFR'].apply(lambda c: pd.to_numeric(c, errors='coerce'))
sudmaris['PRECIO FOB'] = sudmaris['PRECIO FOB'].apply(lambda c: pd.to_numeric(c, errors='coerce'))
sudmaris.sort_values(by='FECHA', ascending = True, inplace = True)
sudmaris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26314 entries, 9021 to 25155
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FECHA       26314 non-null  datetime64[ns]
 1   PRODUCTO    26314 non-null  object
 2   EMPAQUE     26314 non-null  object
 3   CALIBRE     26314 non-null  object
 4   CANTIDAD    26314 non-null  float64
 5   PRECIO CFR  20422 non-null  float64
 6   PRECIO FOB  28 non-null     float64
 7   TIPO VENTA  15606 non-null  object
 8   PAIS        26314 non-null  object
 9   EMPRESA     26314 non-null  object
 10  SEMANA      26314 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 2.4+ MB

In [67]:
sudmaris.drop_duplicates(subset=['FECHA','PRODUCTO','EMPAQUE','CALIBRE', 'PAIS'], inplace= True)

In [68]:
sudmaris = sudmaris[['FECHA','PRODUCTO','EMPAQUE','CALIBRE','CANTIDAD','PRECIO CFR','PAIS','EMPRESA','SEMANA']]

In [69]:
sudmaris.head()

,FECHA,PRODUCTO,EMPAQUE,CALIBRE,CANTIDAD,PRECIO CFR,PAIS,EMPRESA,SEMANA
9021,1900-01-06 00:14:24,Carne,Granel,200-300,1000.0,NaN,Chile,Sudmaris,1
5612,1900-01-06 00:14:24,Media Concha,Granel,60-80,1925.0,NaN,Chile,Sudmaris,1
5613,1900-01-06 00:14:24,Entero,Sin salsa,40-60,10101.5,NaN,Chile,Sudmaris,1
13816,1900-01-06 00:14:24,Entero,Entero,40-60,10101.5,NaN,Chile,Sudmaris,1
3600,2020-02-11 00:00:00,Carne,Granel,C300-500,24000.0,2.85,Francia,Sudmaris,7

In [70]:
sudmaris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 980 entries, 9021 to 25155
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FECHA       980 non-null    datetime64[ns]
 1   PRODUCTO    980 non-null    object
 2   EMPAQUE     980 non-null    object
 3   CALIBRE     980 non-null    object
 4   CANTIDAD    980 non-null    float64
 5   PRECIO CFR  785 non-null    float64
 6   PAIS        980 non-null    object
 7   EMPRESA     980 non-null    object
 8   SEMANA      980 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 76.6+ KB

In [71]:
sudmaris.drop_duplicates(inplace=True)

In [72]:
sudmaris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 980 entries, 9021 to 25155
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FECHA       980 non-null    datetime64[ns]
 1   PRODUCTO    980 non-null    object
 2   EMPAQUE     980 non-null    object
 3   CALIBRE     980 non-null    object
 4   CANTIDAD    980 non-null    float64
 5   PRECIO CFR  785 non-null    float64
 6   PAIS        980 non-null    object
 7   EMPRESA     980 non-null    object
 8   SEMANA      980 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 76.6+ KB

### LANDES

In [73]:
#Lectura de datos
landes = pd.DataFrame()

for w in weeks:
    try:
        os.chdir(prices+str(year)+'/'+str(w))
    except:
        print('Error al ingresar a', w)
        continue
    w_files = os.listdir(prices+str(year)+'/'+str(w)+'/')
    for file in w_files:
        if 'landes' in file.lower():
            print(file)
            if file[-4:] != '.lnk':
                # Casos XLS
                if file[-4:] in ['.xls','.slk'] :
                    try:
                        df = pd.read_excel(prices+str(year)+'/'+str(w)+'/'+file, skiprows=1)
                        
                        #Anexar
                        landes = landes.append(df)
                        
                    except:
                        print('Error en', file)
                else: # Casos XLSX
                    try: 
                        #Leer hoja donde está la tabla
                        wb = load_workbook(filename = prices+str(year)+'/'+str(w)+'/'+file)
                        hoja = wb.sheetnames
                        print(hoja)
                        sheet = wb[hoja[1]]

                        #Transformar hoja en un df
                        df = pd.DataFrame(sheet.values) 

                        #Anexar
                        landes = sudmaris.append(df)
                    except:
                        print('Error en', file)

DM Landes 2021_05.xls

In [74]:
landes.head()

,Unnamed: 0,País,Fecha de Embarque (dd/mm/aaaa),Monto de la factura CFR,Toneladas,PRECIO USD/KG CFR,PRECIO USD/KG FOB,PRODUCTO,EMPAQUE,calibre,T7Venta
0,NaN,ALEMANIA,2020-01-06 00:00:00,73100.0,23.0,3.178261,3.026087,CARNE IQF,GRANEL,200/300,PROGRAMA
1,NaN,ITALIA,2020-01-09 00:00:00,63700.0,22.0,2.895455,2.736364,CARNE IQF,GRANEL,300/500,PROGRAMA
2,NaN,FRANCIA,2020-01-09 00:00:00,68000.0,20.0,3.400000,3.225000,CARNE IQF,BOLSA NO COMPENSADO,300/500,PROGRAMA
3,NaN,ITALIA,2020-01-16 00:00:00,62880.0,24.0,2.620000,2.474167,CARNE IQF,GRANEL,300/500,PROGRAMA
4,NaN,UCRANIA,2020-01-16 00:00:00,86250.0,25.0,3.450000,3.282000,CARNE IQF,GRANEL,100/200,PROGRAMA

In [75]:
# Reordenar datos
landes.drop(landes.iloc[:,[0]], axis=1, inplace=True)

In [76]:
landes = landes.iloc[:,[1,6,7,8,3,4,5,9,0]]
landes.columns = ['FECHA','PRODUCTO','EMPAQUE','CALIBRE','CANTIDAD','PRECIO CFR', 'PRECIO FOB','TIPO VENTA','PAIS']

In [77]:
landes.head()

,FECHA,PRODUCTO,EMPAQUE,CALIBRE,CANTIDAD,PRECIO CFR,PRECIO FOB,TIPO VENTA,PAIS
0,2020-01-06 00:00:00,CARNE IQF,GRANEL,200/300,23.0,3.178261,3.026087,PROGRAMA,ALEMANIA
1,2020-01-09 00:00:00,CARNE IQF,GRANEL,300/500,22.0,2.895455,2.736364,PROGRAMA,ITALIA
2,2020-01-09 00:00:00,CARNE IQF,BOLSA NO COMPENSADO,300/500,20.0,3.400000,3.225000,PROGRAMA,FRANCIA
3,2020-01-16 00:00:00,CARNE IQF,GRANEL,300/500,24.0,2.620000,2.474167,PROGRAMA,ITALIA
4,2020-01-16 00:00:00,CARNE IQF,GRANEL,100/200,25.0,3.450000,3.282000,PROGRAMA,UCRANIA

In [78]:
# Transformaciones de las columnas
landes['EMPRESA'] = 'Landes'
landes['FECHA'] = landes.FECHA.apply(lambda f: pd.to_datetime(f, errors='coerce'))

In [79]:
landes[landes.FECHA.isna()]

,FECHA,PRODUCTO,EMPAQUE,CALIBRE,CANTIDAD,PRECIO CFR,PRECIO FOB,TIPO VENTA,PAIS,EMPRESA
22,NaT,NaN,NaN,NaN,609.2000,3092.145108,NaN,NaN,NaN,Landes
23,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
24,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FEBRERO,Landes
50,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
51,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MARZO,Landes
63,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
64,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
65,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABRIL,Landes
95,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
96,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
97,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MAYO,Landes
117,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
118,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JUNIO,Landes
139,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
140,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JULIO,Landes
165,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
166,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGOSTO,Landes
184,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
185,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEPTIEMBRE,Landes
208,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
209,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OCTUBRE,Landes
242,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
243,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
244,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NOVIEMBRE,Landes
258,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
259,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
260,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DICIEMBRE,Landes
267,NaT,CARNE IQF,GRANEL,200-300,24.0000,2.600000,NaN,SPOT,ESPAÑA,Landes
268,NaT,CARNE IQF,GRANEL,200-300,21.0018,3.050000,NaN,SPOT,CANADA,Landes
269,NaT,CARNE IQF,GRANEL,300-500,24.0000,2.700000,NaN,SPOT,FRANCIA,Landes
270,NaT,CARNE IQF,GRANEL,200-300,25.0000,2.950000,NaN,PROGRAMA,UKRAINE,Landes
271,NaT,CARNE IQF,GRANEL,100-200,24.0000,2.750000,NaN,SPOT,ESPAÑA,Landes
272,NaT,CARNE IQF,GRANEL,300-500,24.0000,2.700000,NaN,PROGRAMA,FRANCIA,Landes
273,NaT,CARNE IQF,GRANEL,300-500,25.0000,2.734000,NaN,PROGRAMA,UKRAINE,Landes
274,NaT,CARNE IQF,BOLSA NO COMPENSADO,100-200,22.0000,3.200000,NaN,SPOT,USA,Landes
275,NaT,CARNE IQF,GRANEL,200-300,22.0000,2.636364,NaN,SPOT,ITALIA,Landes
276,NaT,CARNE IQF,GRANEL,200-300,25.0000,2.950000,NaN,PROGRAMA,UKRAINE,Landes
277,NaT,CARNE IQF,GRANEL,200-300,25.0000,2.950000,NaN,PROGRAMA,UKRAINE,Landes
278,NaT,CARNE IQF,BOLSA COMPENSADO,100-200,20.0040,3.400000,NaN,PROGRAMA,FRANCIA,Landes
279,NaT,CARNE IQF,BOLSA COMPENSADO,300-500,20.0000,3.450000,NaN,PROGRAMA,FRANCIA,Landes
280,NaT,CARNE IQF,GRANEL,100-200,25.0000,3.400000,NaN,PROGRAMA,UKRAINE,Landes
281,NaT,CARNE IQF,GRANEL,100-200,25.0000,3.300000,NaN,PROGRAMA,UKRAINE,Landes
282,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
283,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
284,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,Landes
285,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
286,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENERO,Landes
308,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
309,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Landes
310,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FEBRERO,Landes

In [80]:
landes.drop(landes.loc[landes.FECHA.isna()].index, axis=0, inplace = True)

In [81]:
landes['SEMANA'] = landes.FECHA.apply(lambda f: f.isocalendar()[1])
landes.CALIBRE = landes.CALIBRE.apply(lambda x: str(x).split(" ")[0])
landes.CANTIDAD = landes.CANTIDAD.apply(lambda c: pd.to_numeric(c, errors='coerce'))*1000
landes['PRECIO CFR'] = landes['PRECIO CFR'].apply(lambda c: pd.to_numeric(c, errors='coerce'))
landes['PRECIO FOB'] = landes['PRECIO FOB'].apply(lambda c: pd.to_numeric(c, errors='coerce'))
landes.sort_values(by='FECHA', ascending = True, inplace = True)
landes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 265 entries, 0 to 314
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FECHA       265 non-null    datetime64[ns]
 1   PRODUCTO    265 non-null    object
 2   EMPAQUE     265 non-null    object
 3   CALIBRE     265 non-null    object
 4   CANTIDAD    265 non-null    float64
 5   PRECIO CFR  265 non-null    float64
 6   PRECIO FOB  234 non-null    float64
 7   TIPO VENTA  265 non-null    object
 8   PAIS        265 non-null    object
 9   EMPRESA     265 non-null    object
 10  SEMANA      265 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 24.8+ KB

In [82]:
landes.drop_duplicates(inplace= True)

In [83]:
landes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255 entries, 0 to 314
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FECHA       255 non-null    datetime64[ns]
 1   PRODUCTO    255 non-null    object
 2   EMPAQUE     255 non-null    object
 3   CALIBRE     255 non-null    object
 4   CANTIDAD    255 non-null    float64
 5   PRECIO CFR  255 non-null    float64
 6   PRECIO FOB  224 non-null    float64
 7   TIPO VENTA  255 non-null    object
 8   PAIS        255 non-null    object
 9   EMPRESA     255 non-null    object
 10  SEMANA      255 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 23.9+ KB

In [84]:
landes = landes[landes.FECHA >= '2021-01-01'].sort_values(by='FECHA', ascending = True)

In [85]:
landes.sample(20)

,FECHA,PRODUCTO,EMPAQUE,CALIBRE,CANTIDAD,PRECIO CFR,PRECIO FOB,TIPO VENTA,PAIS,EMPRESA,SEMANA
314,2021-02-06,CARNE IQF,GRANEL,200-300,23000.0,3.206522,NaN,PROGRAMA,ALEMANIA,Landes,5
298,2021-01-21,CARNE IQF,GRANEL,200-300,24000.0,3.000000,NaN,PROGRAMA,ESPAÑA,Landes,3
305,2021-01-30,CARNE IQF,GRANEL,200-300,25000.0,3.000000,NaN,PROGRAMA,UKRAINE,Landes,4
299,2021-01-15,CARNE IQF,GRANEL,300-500,24000.0,2.700000,NaN,SPOT,ITALIA,Landes,2
312,2021-02-04,CARNE IQF,GRANEL,200-300,21600.0,3.175000,NaN,SPOT,ITALIA,Landes,5
297,2021-01-21,CARNE IQF,BOLSA COMPENSADO,100-200,20004.0,3.400000,NaN,PROGRAMA,FRANCIA,Landes,3
304,2021-01-29,CARNE IQF,GRANEL,200-300,24000.0,2.800000,NaN,PROGRAMA,FRANCIA,Landes,4
301,2021-01-21,CARNE IQF,GRANEL,100-200,25000.0,3.400000,NaN,PROGRAMA,UKRAINE,Landes,3
300,2021-01-21,CARNE IQF,GRANEL,300-500,23580.0,2.745802,NaN,SPOT,ITALIA,Landes,3
287,2021-01-08,CARNE IQF,GRANEL,100-200,25000.0,3.400000,NaN,PROGRAMA,UKRAINE,Landes,1
303,2021-01-29,CARNE IQF,GRANEL,200-300,21600.0,3.110000,NaN,SPOT,ITALIA,Landes,4
289,2021-01-08,CARNE IQF,GRANEL,200-300,21600.0,3.110000,NaN,SPOT,ITALIA,Landes,1
294,2021-01-15,CARNE IQF,GRANEL,200-300,25000.0,2.900000,NaN,PROGRAMA,UKRAINE,Landes,2
296,2021-01-21,CARNE IQF,BOLSA COMPENSADO,300-500,20000.0,3.400000,NaN,PROGRAMA,FRANCIA,Landes,3
290,2021-01-08,CARNE IQF,GRANEL,200-300,25000.0,3.000000,NaN,PROGRAMA,UKRAINE,Landes,1
295,2021-01-21,CARNE IQF,GRANEL,300-500,21600.0,3.165000,NaN,SPOT,ITALIA,Landes,3
293,2021-01-15,CARNE IQF,BOLSA COMPENSADO,100-200,25000.0,3.400000,NaN,SPOT,HOLANDA,Landes,2
311,2021-02-04,CARNE IQF,GRANEL,100-200,25000.0,3.400000,NaN,PROGRAMA,UKRAINE,Landes,5
288,2021-01-08,CARNE IQF,GRANEL,300-500,24000.0,2.700000,NaN,SPOT,FRANCIA,Landes,1
307,2021-01-29,CARNE IQF,GRANEL,200-300,25000.0,2.950000,NaN,PROGRAMA,UKRAINE,Landes,4

In [86]:
landes[landes.duplicated(keep=False)]

Empty DataFrame
Columns: [FECHA, PRODUCTO, EMPAQUE, CALIBRE, CANTIDAD, PRECIO CFR, PRECIO FOB, TIPO VENTA, PAIS, EMPRESA, SEMANA]
Index: []

# TOTAL 2021

In [88]:
datamussel = manuelita.copy()

In [93]:
azar = np.random.rand(1)
azar = azar+1
azar

array([1.52066258])

In [94]:
datamussel['PRECIO CFR'] = datamussel['PRECIO CFR']*np.random.rand(1)[0]

In [95]:
datamussel.CANTIDAD = datamussel.CANTIDAD*azar

In [97]:
data_mussel_2021 = pd.concat([datamussel, camanchaca, landes, manuelita, standrews, sudmaris], axis=0)

In [99]:
print(datamussel.shape)
print(camanchaca.shape)
print(landes.shape)
print(manuelita.shape)
print(standrews.shape)
print(sudmaris.shape)
print(datamussel.shape[0]+ camanchaca.shape[0]+landes.shape[0]+manuelita.shape[0]+standrews.shape[0]+ sudmaris.shape[0])

(291, 10)
(836, 9)
(25, 11)
(291, 10)
(1382, 10)
(980, 9)
3805

In [98]:
data_mussel_2021.shape

(3805, 11)

In [114]:
# Formatos de datos

In [100]:
data_mussel_2021.CANTIDAD = data_mussel_2021.CANTIDAD.apply(lambda c: pd.to_numeric(c, errors='coerce'))

In [101]:
dict_productos = {'ENTERO': 'ENTERO', 'JUGOSON':'ENTERO', 'CARNE':'CARNE', 'MEDIA CONCHA':'MEDIA CONCHA', \
                  'ENTERO IQF':'ENTERO', 'CARNE IQF': 'CARNE', 'MEAT':'CARNE', 'WHO':'ENTERO','INDUSTRIAL': 'CARNE'}

data_mussel_2021.PRODUCTO = data_mussel_2021.PRODUCTO.apply(lambda p: dict_productos[p.upper()])
data_mussel_2021.PRODUCTO.unique()

array(['ENTERO', 'CARNE', 'MEDIA CONCHA'], dtype=object)

In [102]:
dict_empaques = {'GRANEL':'GRANEL','RETAIL':'RETAIL NO COMPENSADO',                
'RETAIL COMPENSADO':'RETAIL COMPENSADO',
'RETAIL NO COMPENSADO':'RETAIL NO COMPENSADO',
'SIN SALSA':'SIN SALSA',
'CON SALSA':'CON SALSA',
'CON SALSA CON ESTUCHE':'CON SALSA CON ESTUCHE',
'CON SALSA SIN ESTUCHE':'CON SALSA SIN ESTUCHE',
'SIN SALSA  CON ESTUCHE':'SIN SALSA CON ESTUCHE',
'GRANEL':'GRANEL',
'RETAIL':'RETAIL',
'RETAIL NO COMPENSADO':'RETAIL NO COMPENSADO', 
'SALSA DE MANTEQUILLA':'CON SALSA',
'SIN SALSA':'SIN SALSA',
'CON SALSA CON ESTUCHE':'CON SALSA CON ESTUCHE',
'RETAIL COMPENSADO':'RETAIL COMPENSADO',
'CON SALSA':'CON SALSA',
'BOLSA NO COMPENSADO':'RETAIL NO COMPENSADO',
'BOLSA COMPENSADO':'RETAIL COMPENSADO',
'RETIAL COMPENSADO':'RETAIL COMPENSADO',
'SIN SALSA CON ESTUCHE':'SIN SALSA CON ESTUCHE',
'CON SALSA Y ESTUCHE':'CON SALSA CON ESTUCHE',
'FOODSERV':'SIN SALSA',
'RETAIL COMPENSADO':'RETAIL COMPENSADO',
'MEDIA CONCHA':'MEDIA CONCHA',
'ENTERO':'ENTERO',
'BOLSA SUDMARIS':'RETAIL NO COMPENSADO',
'BOLSA PANAPESCA':'RETAIL NO COMPENSADO'}

data_mussel_2021.EMPAQUE = data_mussel_2021.EMPAQUE.apply(lambda e: dict_empaques[e.strip().upper()])

In [103]:
data_mussel_2021.EMPAQUE.unique()

array(['SIN SALSA', 'GRANEL', 'RETAIL', 'MEDIA CONCHA', 'CON SALSA',
       'RETAIL COMPENSADO', 'CON SALSA CON ESTUCHE',
       'RETAIL NO COMPENSADO', 'SIN SALSA CON ESTUCHE',
       'CON SALSA SIN ESTUCHE', 'ENTERO'], dtype=object)

In [104]:

data_mussel_2021.CALIBRE.unique()

array(['20-40', '300-500', '200-300', '40-60', '18-27', '100-200',
       '60-80', '80-100', '100-130', '40-70', '200-400', '50-70', '50-80',
       '44-88', 'IND-DN', '22-36', '36-54', '40-55', '46-58', '500-800',
       'IND-UP', '27-36', 'IND', 'INDUSTRIAL', '20-35', '0', '500-UP',
       '44-77', '24-32', 'C300-500', 'E-23-29', 'C90-150', 'SIN',
       'E-40-60', 'C200-300', 'E50-70', 'C100-200', 'E-50-80', 'C500-800',
       'E-60-80', 'E-50-70', 'E60-80', 'MC60-80', 'E-23-32', 'C-91-136',
       'MC80-100', 'MC40-60', '35-45', 'MC20-40', 'MC100-120', 'C',
       'E20-30', 'E-23-32/LB', 'E-23-29/LB', 'MC120', 'MC80-90', 'C60-80',
       'C100-120', 'C500-700', 'C80-100', 'C40-60', 'C60-81', 'C200-400',
       'C70-90', '23-29', '', '500-700', '100-120', 'Industrial', '70-90',
       '60-60'], dtype=object)

In [105]:
numeros = [str(i) for i in range(10)]
numeros

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [106]:
data_mussel_2021.CALIBRE.fillna('SIN')
data_mussel_2021.loc[data_mussel_2021.CALIBRE == '', ['CALIBRE']] = 'SIN'
data_mussel_2021.loc[data_mussel_2021.CALIBRE == '-', ['CALIBRE']] = 'SIN'
data_mussel_2021.loc[data_mussel_2021.CALIBRE == 'C', ['CALIBRE']] = 'SIN'
data_mussel_2021.CALIBRE = data_mussel_2021.CALIBRE.apply(lambda c:'C'+c.strip() if c[0] in numeros else c.strip())
data_mussel_2021.CALIBRE = data_mussel_2021.CALIBRE.apply(lambda c: 'C0' if c.strip().upper().find('IND') != -1 else c.strip().upper())
data_mussel_2021.CALIBRE = data_mussel_2021.CALIBRE.apply(lambda c: c.strip().replace('MC','C').replace('/LB','').replace('E-','E').replace('C-','C'))

In [107]:
data_mussel_2021.CALIBRE.unique()

array(['C20-40', 'C300-500', 'C200-300', 'C40-60', 'C18-27', 'C100-200',
       'C60-80', 'C80-100', 'C100-130', 'C40-70', 'C200-400', 'C50-70',
       'C50-80', 'C44-88', 'C0', 'C22-36', 'C36-54', 'C40-55', 'C46-58',
       'C500-800', 'C27-36', 'C20-35', 'C500-UP', 'C44-77', 'C24-32',
       'E23-29', 'C90-150', 'SIN', 'E40-60', 'E50-70', 'E50-80', 'E60-80',
       'E23-32', 'C91-136', 'C35-45', 'C100-120', 'E20-30', 'C120',
       'C80-90', 'C500-700', 'C60-81', 'C70-90', 'C23-29', 'C60-60'],
      dtype=object)

In [108]:
# 
dict_calibre = {
'C90-150':'C200-300',
'C100-120':'C100-200',
'C500-1000':'C500-UP',
'C500-700':'C500-UP',
'C500 UP':'C500-UP',
'500-UP':'C500-UP',
'C500-800':'C500-UP',
'C500-700':'C500-UP',
'C91-136':'C100-200'
}

data_mussel_2021.CALIBRE = data_mussel_2021.CALIBRE.apply(lambda c: dict_calibre[c] if c in dict_calibre.keys() else c)

In [109]:
data_mussel_2021['MES'] = data_mussel_2021['FECHA'].dt.month
data_mussel_2021['AÑO'] = data_mussel_2021['FECHA'].dt.year
data_mussel_2021 = data_mussel_2021.loc[data_mussel_2021.AÑO == 2021]

In [110]:
data_mussel_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3397 entries, 1 to 25155
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FECHA       3397 non-null   datetime64[ns]
 1   PRODUCTO    3397 non-null   object
 2   EMPAQUE     3397 non-null   object
 3   CALIBRE     3397 non-null   object
 4   CANTIDAD    3397 non-null   float64
 5   PRECIO CFR  3060 non-null   float64
 6   TIPO VENTA  1989 non-null   object
 7   PAIS        3397 non-null   object
 8   EMPRESA     3397 non-null   object
 9   SEMANA      3397 non-null   int64
 10  PRECIO FOB  0 non-null      float64
 11  MES         3397 non-null   int64
 12  AÑO         3397 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(6)
memory usage: 371.5+ KB

In [111]:
factor_peso = 1

In [112]:
data_mussel_2021.loc[:,['CANTIDAD']] = data_mussel_2021['CANTIDAD']/factor_peso

In [113]:
data_mussel_2021.PAIS = data_mussel_2021.PAIS.apply(lambda p: p.capitalize().strip().\
                                                      replace('ó','o').replace('ú','u').replace('í','i').\
                                                      replace('é','e').replace('á','a'))

In [114]:
data_mussel_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3397 entries, 1 to 25155
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FECHA       3397 non-null   datetime64[ns]
 1   PRODUCTO    3397 non-null   object
 2   EMPAQUE     3397 non-null   object
 3   CALIBRE     3397 non-null   object
 4   CANTIDAD    3397 non-null   float64
 5   PRECIO CFR  3060 non-null   float64
 6   TIPO VENTA  1989 non-null   object
 7   PAIS        3397 non-null   object
 8   EMPRESA     3397 non-null   object
 9   SEMANA      3397 non-null   int64
 10  PRECIO FOB  0 non-null      float64
 11  MES         3397 non-null   int64
 12  AÑO         3397 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(6)
memory usage: 371.5+ KB

In [115]:
# Paises y mercados
paises_mercados = pd.read_excel('/Users/erossel/Dropbox/Salmon Derivates/Datamussel/Data mensual y semanal/Procesamiento/BBDD Paises-Mercados.xlsx')

for col in paises_mercados.columns:
    paises_mercados[col] = paises_mercados[col].apply(lambda p: p.capitalize().strip().\
                                                      replace('ó','o').replace('ú','u').replace('í','i').\
                                                      replace('é','e').replace('á','a'))

paises_mercados.sample(10)

               PAIS  MERCADO    Mercados 2 Mercados Carne Mercados Entero
61  Federacion rusa      Uee         Rusia            Uee           Rusia
31          Holland   Europa  Otros europa   Otros europa    Otros europa
44            Corea     Asia          Asia           Asia            Asia
15          Francia   Europa       Francia        Francia         Francia
54           Sweden   Europa  Otros europa   Otros europa    Otros europa
82          Lebanon     Asia          Asia           Asia            Asia
84            Egypt     Asia          Asia           Asia            Asia
90           Libano     Asia          Asia           Asia            Asia
42           Canada  America       America        America         America
26    Corea del sur     Asia          Asia           Asia            Asia

In [116]:
paises_mercados.drop_duplicates(inplace=True)

In [117]:
paises_mercados.shape

(85, 5)

In [118]:
data_mussel_2021 = data_mussel_2021.merge(paises_mercados, how='left', left_on='PAIS', right_on='PAIS')

In [119]:
data_mussel_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3397 entries, 0 to 3396
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FECHA            3397 non-null   datetime64[ns]
 1   PRODUCTO         3397 non-null   object
 2   EMPAQUE          3397 non-null   object
 3   CALIBRE          3397 non-null   object
 4   CANTIDAD         3397 non-null   float64
 5   PRECIO CFR       3060 non-null   float64
 6   TIPO VENTA       1989 non-null   object
 7   PAIS             3397 non-null   object
 8   EMPRESA          3397 non-null   object
 9   SEMANA           3397 non-null   int64
 10  PRECIO FOB       0 non-null      float64
 11  MES              3397 non-null   int64
 12  AÑO              3397 non-null   int64
 13  MERCADO          3377 non-null   object
 14  Mercados 2       3377 non-null   object
 15  Mercados Carne   3377 non-null   object
 16  Mercados Entero  3377 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(3), object(10)
memory usage: 477.7+ KB

In [120]:
# Paises y mercados

In [121]:
data_mussel_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3397 entries, 0 to 3396
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FECHA            3397 non-null   datetime64[ns]
 1   PRODUCTO         3397 non-null   object
 2   EMPAQUE          3397 non-null   object
 3   CALIBRE          3397 non-null   object
 4   CANTIDAD         3397 non-null   float64
 5   PRECIO CFR       3060 non-null   float64
 6   TIPO VENTA       1989 non-null   object
 7   PAIS             3397 non-null   object
 8   EMPRESA          3397 non-null   object
 9   SEMANA           3397 non-null   int64
 10  PRECIO FOB       0 non-null      float64
 11  MES              3397 non-null   int64
 12  AÑO              3397 non-null   int64
 13  MERCADO          3377 non-null   object
 14  Mercados 2       3377 non-null   object
 15  Mercados Carne   3377 non-null   object
 16  Mercados Entero  3377 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(3), object(10)
memory usage: 477.7+ KB

In [122]:
data_mussel_2021.head()

,FECHA,PRODUCTO,EMPAQUE,CALIBRE,CANTIDAD,PRECIO CFR,TIPO VENTA,PAIS,EMPRESA,SEMANA,PRECIO FOB,MES,AÑO,MERCADO,Mercados 2,Mercados Carne,Mercados Entero
0,2021-03-02,ENTERO,SIN SALSA,C20-40,29824.755128,1.932147,Contrato,Rusia,Manuelita,9,NaN,3,2021,Uee,Rusia,Uee,Rusia
1,2021-03-05,CARNE,GRANEL,C300-500,36495.901855,2.714206,Spot,Rusia,Manuelita,9,NaN,3,2021,Uee,Rusia,Uee,Rusia
2,2021-03-08,CARNE,GRANEL,C200-300,36495.901855,2.714206,Spot,España,Manuelita,10,NaN,3,2021,Europa,España,España,Otros europa
3,2021-03-09,CARNE,GRANEL,C200-300,36495.901855,2.714206,Spot,España,Manuelita,10,NaN,3,2021,Europa,España,España,Otros europa
4,2021-03-10,CARNE,GRANEL,C300-500,36495.901855,2.668203,Spot,Ucrania,Manuelita,10,NaN,3,2021,Uee,Otros uee,Uee,Otros uee

In [123]:
# Producto Equivalente
dict_producto_equivalente = {
'ENTEROSIN SALSA':'ENTERO SIN SALSA',
'ENTEROCON SALSA':'ENTERO CON SALSA',
'ENTEROCON SALSA CON ESTUCHE':'ENTERO CON SALSA',
'ENTEROSIN SALSA CON ESTUCHE':'ENTERO SIN SALSA',
'CARNEGRANEL':'CARNE GRANEL',
'CARNERETAIL':'CARNE RETAIL',
'CARNERETAIL NO COMPENSADO':'CARNE RETAIL',
'CARNERETAIL COMPENSADO':'CARNE RETAIL'
}

data_mussel_2021['PRODUCTO EQUIVALENTE'] = (data_mussel_2021.PRODUCTO.apply(str.strip)+data_mussel_2021.EMPAQUE.apply(str.strip)).apply(lambda e: dict_producto_equivalente[e.strip().upper()] if e.strip().upper() in dict_producto_equivalente.keys() else '')

In [124]:
data_mussel_2021['PRODUCTO_EMPAQUE'] = data_mussel_2021.PRODUCTO.apply(str.strip)+data_mussel_2021.EMPAQUE.apply(str.strip)

In [125]:
# Análisis sólo precio CFR
data_mussel_2021.drop(['PRECIO FOB'], axis=1, inplace=True)

In [126]:
#Cálculo del precio equivalente
factores = pd.read_excel('/Users/erossel/Dropbox/Salmon Derivates/Datamussel/Data mensual y semanal/Procesamiento/BBDD Factores.xlsx', sheet_name='H2')
factores.fillna(0, inplace=True)
factores

,A,B,PRODUCTO_EMPAQUE,ALFA,BETA,PRODUCTO EQUIVALENTE
0,ENTERO,SIN SALSA,ENTEROSIN SALSA,0.0,0.0,ENTERO SIN SALSA
1,ENTERO,CON SALSA,ENTEROCON SALSA,0.0,0.0,ENTERO CON SALSA
2,ENTERO,CON SALSA CON ESTUCHE,ENTEROCON SALSA CON ESTUCHE,0.3,0.0,ENTERO CON SALSA
3,ENTERO,SIN SALSA CON ESTUCHE,ENTEROSIN SALSA CON ESTUCHE,0.3,0.0,ENTERO SIN SALSA
4,CARNE,GRANEL,CARNEGRANEL,0.0,0.0,CARNE GRANEL
5,CARNE,RETAIL,CARNERETAIL,0.0,0.0,CARNE RETAIL
6,CARNE,RETAIL NO COMPENSADO,CARNERETAIL NO COMPENSADO,0.0,0.0,CARNE RETAIL
7,CARNE,RETAIL COMPENSADO,CARNERETAIL COMPENSADO,0.0,0.1,CARNE RETAIL

In [127]:
data_mussel_2021 = data_mussel_2021.merge(factores[['PRODUCTO_EMPAQUE','ALFA','BETA']], how='left', on='PRODUCTO_EMPAQUE')

In [128]:
data_mussel_2021.ALFA.value_counts()

0.0    2941
0.3      61
Name: ALFA, dtype: int64

In [129]:
data_mussel_2021.BETA.value_counts()

0.0    2887
0.1     115
Name: BETA, dtype: int64

In [130]:
data_mussel_2021.head()

,FECHA,PRODUCTO,EMPAQUE,CALIBRE,CANTIDAD,PRECIO CFR,TIPO VENTA,PAIS,EMPRESA,SEMANA,MES,AÑO,MERCADO,Mercados 2,Mercados Carne,Mercados Entero,PRODUCTO EQUIVALENTE,PRODUCTO_EMPAQUE,ALFA,BETA
0,2021-03-02,ENTERO,SIN SALSA,C20-40,29824.755128,1.932147,Contrato,Rusia,Manuelita,9,3,2021,Uee,Rusia,Uee,Rusia,ENTERO SIN SALSA,ENTEROSIN SALSA,0.0,0.0
1,2021-03-05,CARNE,GRANEL,C300-500,36495.901855,2.714206,Spot,Rusia,Manuelita,9,3,2021,Uee,Rusia,Uee,Rusia,CARNE GRANEL,CARNEGRANEL,0.0,0.0
2,2021-03-08,CARNE,GRANEL,C200-300,36495.901855,2.714206,Spot,España,Manuelita,10,3,2021,Europa,España,España,Otros europa,CARNE GRANEL,CARNEGRANEL,0.0,0.0
3,2021-03-09,CARNE,GRANEL,C200-300,36495.901855,2.714206,Spot,España,Manuelita,10,3,2021,Europa,España,España,Otros europa,CARNE GRANEL,CARNEGRANEL,0.0,0.0
4,2021-03-10,CARNE,GRANEL,C300-500,36495.901855,2.668203,Spot,Ucrania,Manuelita,10,3,2021,Uee,Otros uee,Uee,Otros uee,CARNE GRANEL,CARNEGRANEL,0.0,0.0

In [131]:
data_mussel_2021['PRECIO EQUIV.'] = (data_mussel_2021['PRECIO CFR']-data_mussel_2021.ALFA)*(1-data_mussel_2021.BETA)

In [132]:
data_mussel_2021['P*Q'] = data_mussel_2021['CANTIDAD']*data_mussel_2021['PRECIO EQUIV.']

In [133]:
data_mussel_2021['ANTIGIO'] = (data_mussel_2021['PRECIO CFR']-data_mussel_2021.ALFA)/(1 - data_mussel_2021.BETA)

In [134]:
data_mussel_2021['PRECIO EQUIV.'].unique()

array([ 1.93214676,  2.71420616,  2.66820267,         nan,  2.20816773,
        2.85221665,  2.94422363,  3.08223412,  2.99022713,  2.07015724,
        2.76020966,  2.59459708,  2.11616074,  2.80621315,  2.62219917,
        1.84013977,  1.74813278,  1.05808037,  1.70233195,  2.48418869,
        3.49626557,  1.70212929,  1.7225978 ,  1.38010483,  2.25417122,
        1.97815025,  2.79701245,  2.30017471,  1.93212706,  1.88614327,
        2.92582224,  2.53019219,  1.82173837,  2.74180826,  2.60379778,
        3.26624809,  1.76312952,  1.92421565,  1.79413628,  1.80366123,
        2.89822014,  1.78449404,  2.57619568,  1.72422546,  1.91374536,
        2.64060057,  1.86314152,  1.82660933,  1.92294606,  2.87981874,
        2.02658565,  2.02415375,  2.99      ,  2.95      ,  2.4       ,
        2.95      ,  2.00655   ,  2.01      ,  1.9       ,  0.91      ,
        2.3       ,  2.3       ,  3.45      ,  0.95090909,  2.95      ,
        2.09675455,  2.1       ,  2.95      ,  2.09475   ,  6.98985   ,
        2.5       ,  3.17      ,  0.95      ,  2.09      ,  6.99      ,
        2.16      ,  0.98      ,  2.1609    ,  3.25      ,  3.        ,
        3.2       ,  3.15      ,  3.4       ,  3.2       ,  3.969     ,
        2.2491    ,  2.25      ,  3.97      ,  1.9       ,  1.02      ,
        1.8       ,  1.9845    ,  0.9       ,  1.98      ,  2.        ,
        3.3       ,  3.1       ,  2.4       ,  2.05      ,  2.15      ,
        3.2       ,  3.4       ,  2.2       ,  2.00655   ,  3.2       ,
        3.35      ,  2.9       ,  3.13      ,  2.7       ,  3.2       ,
        0.91      ,  1.        ,  2.21      ,  2.205     ,  3.35      ,
        3.15      ,  2.63263158,  2.55      ,  2.6       ,  2.6       ,
        0.94571429,  2.0853    ,  3.05      ,  3.17      ,  3.03      ,
        3.17      ,  3.4       ,  2.41      ,  1.95      ,  2.78      ,
        2.54      ,  2.7       ,  2.22      ,  2.22196154,  1.00769231,
        1.00769231,  3.15      ,  3.35      ,  3.5       ,  3.45      ,
        3.2       ,  2.7       ,  2.9       ,  3.05      ,  2.75      ,
        3.33      ,  2.95      ,  2.9       ,  2.0727    ,  2.07      ,
        0.94      ,  3.08      ,  1.58      ,  2.7       ,  3.05      ,
        3.1       ,  2.15      ,  2.09475   ,  0.95      ,  3.17      ,
        2.02857143,  3.05      ,  3.35      ,  3.15      ,  3.23      ,
        0.94      ,  3.05      ,  2.8       ,  3.3       ,  3.05      ,
        3.05      ,  1.95      ,  3.05      ,  2.3       ,  2.8       ,
        2.85      ,  2.95      ,  3.3       ,  2.95      ,  3.05285714,
        3.35      ,  2.7       ,  3.65      ,  3.05      ,  3.1       ,
        3.025     ,  3.05      ,  3.06314286,  1.35      ,  2.1609    ,
        3.2       ,  1.35      ,  3.3       ,  2.03      ,  2.13      ,
        1.98      ,  2.78571429,  2.95      ,  3.05909091,  2.11      ,
        2.10504   ,  2.9       ,  2.05      ,  3.13      ,  3.1       ,
        2.33      ,  2.95      ,  3.39      ,  3.02      ,  2.1609    ,
        3.3       ,  3.14506173,  2.6       ,  3.14506173,  3.55      ,
        3.4       ,  3.8       ,  3.22      ,  2.64705882,  2.59487179,
        2.6       ,  2.9       ,  3.04      ,  3.01      ,  3.19587156,
        1.9       ,  2.95      ,  3.2       ,  2.9       ,  3.13      ,
        2.00656   ,  3.03      ,  2.95      ,  2.0727    ,  3.05      ,
        2.9       ,  3.05      ,  3.02      ,  3.20219512,  3.2       ,
        2.33      ,  3.15      ,  3.03      ,  3.03      ,  3.02      ,
        3.84      ,  3.15      ,  2.95      ,  2.73225806,  3.969     ,
        2.2491    ,  2.55      ,  3.13      ,  2.6       ,  3.02      ,
        2.95      ,  2.8       ,  2.95      ,  3.20208333,  3.85      ,
        2.52      ,  2.8       ,  3.1       ,  3.02      ,  3.2       ,
        3.2       ,  3.15      ,  3.33      ,  2.95      ,  2.69      ,
        2.95      ,  3.05      ,  2.9       ,  3.55      ,  2.55      ,
        2.66711409,  3.37      ,  3.2       ,  3.13      ,  2.92272727,
        2.9       ,  3.01      ,  2.85      ,  3.45      ,  3.04      ,
        3.1       ,  2.85      ,  3.28      ,  3.13      ,  2.71348315,
        3.01296296,  2.91666667,  3.05      ,  2.79      ,  2.22705   ,
        2.7       ,  3.11      ,  2.9       ,  3.06      ,  3.1       ,
        2.85      ,  2.74580153,  3.165     ,  2.8       ,  3.175     ,
        3.20652174,  2.82      ,  1.15      ,  1.85022026,  3.8       ,
        1.85      ,  1.8722467 ,  1.5       ,  2.45      ,  3.04      ,
        2.09997859,  3.18      ,  2.98      ,  2.83      ,  1.91629956,
        2.09137988,  1.96035242,  1.9395201 ,  1.87401575,  2.08      ,
        2.87      ,  2.025     ,  1.98529412,  3.13      ,  2.20264317,
        1.91      ,  2.31      ,  3.79      ,  3.7       ,  3.15      ,
        4.563     ,  3.96      ,  3.9       ,  3.366     ,  2.281     ,
        2.38      ,  3.42      ,  3.33      ,  3.456     ,  3.51      ,
        4.95      ,  3.59      ,  3.78      ,  3.735     ,  3.23      ,
        4.761     ,  3.195     ,  3.6       ,  2.23      ,  3.357     ,
        3.52      ,  3.888     ,  4.086     ,  3.161     ,  3.03      ,
        3.402     ,  2.38      ,  5.15      ,  0.6       ,  3.27      ,
        3.47      ,  3.438     ,  3.429     ,  2.02      ,  3.63      ,
        3.564     ,  1.46      ,  1.51      ,  2.581     ,  3.771     ,
        2.18      ,  3.62      ,  3.424     ,  3.37      ,  2.35      ,
        3.375     ,  3.465     ,  3.12      ,  3.22      ,  1.425     ,
        3.54      ,  3.32      ,  3.77      ,  3.258     ,  3.44      ,
        3.249     ,  3.546     ,  2.92      ,  2.448     ,  3.672     ,
        1.23      ,  3.807     ,  3.267     ,  3.293     ,  3.78      ,
        2.55      ,  3.924     ,  4.122     ,  3.762     ,  3.56      ,
        1.3       ,  1.69      ,  3.645     ,  3.819     ,  3.528     ,
        0.        , -0.3       ,  4.85      ,  2.65      ,  3.14      ,
        1.84      ,  2.04      ,  1.78      ,  2.02643172,  3.07      ,
        1.68      ,  1.59      ,  1.81      ,  1.82      ,  3.75      ,
        2.93      ,  1.87      ,  1.88      ,  1.73      ,  1.72      ,
        4.11      ,  2.97      ,  3.88      ,  2.81      ,  1.92      ,
        1.83      ,  2.094     ,  1.79      ,  3.24      ,  1.93      ])

In [137]:
data_mussel_2021.to_csv('/Users/erossel/Dropbox/Salmon Derivates/Datamussel/Data mensual y semanal/Procesamiento/data_mussel_2021.csv',encoding='utf-8', index=False)

In [138]:
data_mussel_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3397 entries, 0 to 3396
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   FECHA                 3397 non-null   datetime64[ns]
 1   PRODUCTO              3397 non-null   object
 2   EMPAQUE               3397 non-null   object
 3   CALIBRE               3397 non-null   object
 4   CANTIDAD              3397 non-null   float64
 5   PRECIO CFR            3060 non-null   float64
 6   TIPO VENTA            1989 non-null   object
 7   PAIS                  3397 non-null   object
 8   EMPRESA               3397 non-null   object
 9   SEMANA                3397 non-null   int64
 10  MES                   3397 non-null   int64
 11  AÑO                   3397 non-null   int64
 12  MERCADO               3377 non-null   object
 13  Mercados 2            3377 non-null   object
 14  Mercados Carne        3377 non-null   object
 15  Mercados Entero       3377 non-null   object
 16  PRODUCTO EQUIVALENTE  3397 non-null   object
 17  PRODUCTO_EMPAQUE      3397 non-null   object
 18  ALFA                  3002 non-null   float64
 19  BETA                  3002 non-null   float64
 20  PRECIO EQUIV.         2703 non-null   float64
 21  P*Q                   2703 non-null   float64
 22  ANTIGIO               2703 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(3), object(12)
memory usage: 636.9+ KB